.hero-about h2 {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-about .desc {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 375px) {
  .hero-about .desc {
    padding: 12px;
  }
}
.hero-about .desc span {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-about .desc a {
  color: #ffffff;
}
.hero-about .desc .icon {
  width: 16px;
  height: 16px;
}
.hero-about .desc .icon i::before {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-section .product-img-slider {
  padding-bottom: 30px !important;
}
.services-section .product-img-slider.card-img-top {
  width: auto !important;
  height: auto !important;
}
.services-section .whatsapp-store-name {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.services-section .card {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.services-section .card .tag {
  position: absolute;
  top: -20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
@media (max-width: 460px) {
  .services-section .card .tag {
    top: -17px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
}
.services-section .card .card-img-top {
  width: 60px;
  height: 60px;
  min-width: 60px;
}
.services-section .card .card-img-top i {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-section .card .card-img-top i:before {
  font-size: 50px;
}
.services-section .card .card-img-top img {
  -o-object-fit: contain;
     object-fit: contain;
}
.services-section .card:hover i {
  background-image: linear-gradient(123.62deg, #ffffff 0%, #ffffff 100%);
  -webkit-text-fill-color: #ffffff;
}
.services-section .card:hover .card-body h5 {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-section .card .card-body {
  position: relative;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.services-section .card .card-body::after {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  width: 45px;
  height: 1px;
  z-index: 1;
}
.services-section .card .card-body .card-text {
  max-height: 190px;
  overflow: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-section .card .card-body .description-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.4;
  max-height: calc(1.4em * 4);
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-bottom: 5rem;
}
.services-section .services-slider-view .slick-list {
  padding-top: 5px !important;
  height: auto !important;
}
.services-section .services-slider-view .slick-list .slick-track {
  padding-top: 55px !important;
}
@media (max-width: 400px) {
  .services-section .services-slider-view .slick-list .slick-track {
    padding-top: 15px !important;
  }
}
.services-section .services-slider-view .service-card {
  border-radius: 10px;
  min-height: 210px;
  color: #ffffff;
  padding: 18px;
  display: block;
}
.services-section .services-slider-view .service-card .card-title {
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 2px 0 0 0 !important;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card .card-title {
    margin: 12px 0 0 0 !important;
  }
}
.services-section .services-slider-view .service-card .description-text {
  color: #CCD4E4;
  font-size: 14px;
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card .description-text {
    -webkit-line-clamp: 3;
  }
}
.services-section .services-slider-view .service-card .img {
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
  float: left;
}
.services-section .services-slider-view .service-card .img img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 20px !important;
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card .img img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 500px) {
  .services-section .services-slider-view .service-card {
    min-height: 235px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.services-section .services-slider-view .slick-list .slick-slide {
  margin: 0 15px;
}
.services-section .payment-link-section .card-img-top {
  width: 85px;
  height: 85px;
  flex-shrink: 0;
}
.services-section .payment-link-section .card-img-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.services-section .payment-link-section .payment-link-slider .slick-track {
  display: flex;
  align-items: stretch;
}
.services-section .payment-link-section .payment-link-slider .slick-slide {
  height: auto;
}
.services-section .payment-link-section .payment-link-slider .slick-slide > div {
  height: 100%;
}
.services-section .payment-link-section .payment-link-slider .slide {
  height: 100%;
}
.services-section .payment-link-section .pl-strip {
  display: flex;
  align-items: center;
  background: #d7eaf2;
  border-radius: 16px;
  padding: 14px 16px;
  transition: all 0.3s ease;
  min-height: 120px;
  height: 100%;
  border: 2px solid linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
.services-section .payment-link-section .pl-strip-icon {
  flex-shrink: 0;
  background: #a0c8db;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-section .payment-link-section .pl-strip-icon img {
  height: 65px;
  width: 46px;
  -o-object-fit: contain;
     object-fit: contain;
}
.services-section .payment-link-section .pl-strip-content {
  flex-grow: 1;
  padding: 0 14px;
  min-width: 0;
}
.services-section .payment-link-section .pl-strip-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #1d2336;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services-section .payment-link-section .pl-strip-desc {
  font-size: 13px;
  color: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.4;
  max-height: calc(1.4em * 4);
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.services-section .payment-link-section .pl-strip-action {
  flex-shrink: 0;
}
.services-section .payment-link-section .pl-strip-btn {
  padding: 8px 18px;
  border-radius: 50px;
  background: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
.services-section .payment-link-section .pl-strip-btn:hover {
  background: #ffffff;
  color: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  border: 1px solid linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
.services-section .payment-link-section .pl-strip-badge {
  padding: 9px 13px 6px 17px;
  border-radius: 50px;
  background: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
.services-section .payment-link-section .pl-strip-badge:hover {
  background: #ffffff;
  color: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
  border: 1px solid linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
.services-section .payment-link-section .link-icon-btn svg {
  width: 15px;
  height: 16px;
}
.services-section .payment-link-section .pl-strip-content-img {
  max-width: 65px;
  max-height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pl-strip-content-img {
  flex-shrink: 0;
  background: #474d6e;
  border-radius: 12px !important;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;
  max-height: 60px !important;
  min-width: 60px;
  min-height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pl-strip-title {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.client-section .client-box {
  border-radius: 6px;
  background-color: #1d2336;
}
.client-section .client-box .client-img {
  width: 100%;
  height: 220px;
  margin: auto;
}
.client-section .client-box .client-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-filter-nav {
  padding: 0 10px;
}

.gallery-filter-btn {
  border: 1px solid linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%) !important;
  background-color: #ffffff !important;
  color: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%) !important;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s ease;
}
.gallery-filter-btn.active {
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%) !important;
  border-color: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%) !important;
  color: #ffffff !important;
}

.gallery-filter-panel {
  display: none;
}
.gallery-filter-panel.active {
  display: block;
}

.custom-margin-testimonial {
  margin-left: -231px !important;
}

.testimonial-card-custom {
  min-height: 163px !important;
}

.testimonial-2card-custom {
  min-height: 268px !important;
  margin-left: 11px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px !important;
  }
}
.testimonials-section .card .card-body .card-text {
  max-height: 170px;
  overflow: auto;
}

.video-container {
  height: 220px;
}

.audio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.audio-container .audio-image {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0;
}
.audio-container audio {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  z-index: 2;
}
.audio-container:-webkit-full-screen {
  padding: 15% !important;
}
.audio-container:fullscreen {
  padding: 15% !important;
}
@media (max-width: 575px) {
  .audio-container:-webkit-full-screen {
    padding: 20px !important;
    flex-direction: column;
  }
  .audio-container:fullscreen {
    padding: 20px !important;
    flex-direction: column;
  }
}
.audio-container:-webkit-full-screen .audio-image {
  border-radius: 12px;
}
.audio-container:fullscreen .audio-image {
  border-radius: 12px;
}
@media (max-width: 575px) {
  .audio-container:-webkit-full-screen .audio-image {
    height: 350px;
  }
  .audio-container:fullscreen .audio-image {
    height: 350px;
  }
}
.audio-container:-webkit-full-screen audio {
  bottom: calc(15% + 13%);
  min-width: 45%;
}
.audio-container:fullscreen audio {
  bottom: calc(15% + 13%);
  min-width: 45%;
}
@media (max-width: 575px) {
  .audio-container:-webkit-full-screen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
  .audio-container:fullscreen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
}

.modal {
  padding-right: 0 !important;
}
.modal.show {
  padding-right: 0 !important;
}
.modal.show .modal-dialog {
  transform: translateY(35px) !important;
}
@media (min-width: 576px) {
  .modal.show .modal-dialog {
    margin: 2.5rem auto !important;
    min-width: 200px !important;
  }
}
.modal .modal-dialog {
  transform: translateY(95px) !important;
}
.modal .modal-dialog.modal-bottom {
  height: 87vh !important;
}
