@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-Medium.ttf") format(truetype);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-SemiBold.ttf") format(truetype);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  font-family: "Mulish" !important;
  color: #20232b;
  overflow-x: hidden !important;
}

.button-primary {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  color: #ffffff;
  border: 0;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background-position 1s ease-in-out;
  background-position: left center;
  background-size: 100% 100%;
}
.button-primary:hover {
  background-position: center;
  background-size: 150% 150%;
  color: #20232b;
  background: #ffffff !important;
  border: 1px solid #20232b !important;
}

.section-heading {
  color: #20232b;
  font-size: 24px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  text-align: center;
  word-break: break-word;
}
@media (max-width: 575px) {
  .section-heading {
    font-size: 20px;
  }
}

.slick-dots {
  position: inherit;
  bottom: auto;
  margin-top: 8px;
}
@media (max-width: 375px) {
  .slick-dots {
    margin-top: 0px;
  }
}
.slick-dots li {
  margin: 0 10px;
  height: 10px;
  width: 10px;
}
.slick-dots li button {
  height: 10px;
  width: 10px;
}
.slick-dots li button:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #ae946a;
  border-radius: 50%;
  opacity: 80%;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
}

.slick-slide {
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

input:focus,
.form-control:focus {
  box-shadow: none;
}

.text-primary {
  color: #20232b !important;
}

a {
  text-decoration: none;
}

.gap-20 {
  gap: 20px;
}

.row-gap-20 {
  row-gap: 20px;
}

ul li {
  list-style-type: none;
}

.fs-22 {
  font-size: 22px;
}
@media (max-width: 575px) {
  .fs-22 {
    font-size: 20px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 575px) {
  .fs-20 {
    font-size: 18px;
  }
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .px-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pt-20 {
  padding-top: 20px;
}
@media (max-width: 575px) {
  .pt-20 {
    padding-top: 15px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 575px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.pb-20 {
  padding-bottom: 20px;
}
@media (max-width: 575px) {
  .pb-20 {
    padding-bottom: 15px;
  }
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.slide-banner-arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}
.slide-banner-arrow button {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  color: #20232b !important;
  border: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.pwa-support {
  width: 100%;
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  bottom: 20px;
  z-index: 99999 !important;
  background: #efe4d4;
  padding: 24px;
  border: 2px solid #20232b;
  border-radius: 15px;
  box-shadow: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-width: thick;
}
.pwa-support .pwa-heading {
  font-size: 20px;
  margin-bottom: 12px;
  color: #20232b;
}
.pwa-support .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
  color: #20232b;
}

.pwa-install-button {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
  border-radius: 10px !important;
  padding: 9px 26px !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  color: #ffffff !important;
  border: 1px solid #cfb88d !important;
}
.pwa-install-button:hover {
  background: #ffffff !important;
  border: 1px solid #20232b !important;
  color: #20232b !important;
}

.pwa-cancel-button {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
  color: #ffffff !important;
  border-radius: 10px !important;
  padding: 9px 26px !important;
  border: 1px solid #cfb88d !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
}
.pwa-cancel-button:hover {
  background: #ffffff !important;
  border: 1px solid #20232b !important;
  color: #20232b !important;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 3px 9px;
  background: #cfb88d !important;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  position: relative;
}
.language ul .lang-list .lang-head {
  color: #ffffff !important;
}
.language ul .lang-list .lang-head i {
  color: #ffffff !important;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 14px;
  width: 100%;
  right: 0;
  min-width: 70px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 4px 10px;
}
.language ul .lang-list .lang-hover-list li:hover {
  background-color: #cfb88d !important;
}
.language ul .lang-list .lang-hover-list li:hover a {
  color: #ffffff !important;
}
.language ul .lang-list .lang-hover-list li.active {
  background-color: #cfb88d !important;
}
.language ul .lang-list .lang-hover-list li.active a {
  color: #ffffff !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li img {
  height: 14px !important;
  width: 18px !important;
}
.language ul .lang-list:hover .dropdown-menu {
  display: block !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.main-content {
  max-width: 670px;
  margin: 0 auto;
  position: relative;
  background-image: url("/assets/img/vcard40/bg.png");
  z-index: 0;
}
.main-content.rtl .lang-hover-list {
  left: 0 !important;
  right: auto !important;
}
.main-content.rtl .expand-more {
  right: auto;
  left: 20px;
}
.main-content .enquiry-btn {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 6px 20px;
  border: 1px solid #cfb88d;
}
@media (max-width: 575px) {
  .main-content .enquiry-btn {
    max-width: 100%;
    width: 100%;
  }
}
.main-content .hotel-vcard {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
.main-content .banner-section .banner-img {
  height: 100%;
  width: 100%;
  position: relative;
}
.main-content .banner-section .banner-img img {
  aspect-ratio: 2.09375;
}
@media (max-width: 575px) {
  .main-content .banner-section .banner-img {
    height: 100%;
  }
}
.main-content .banner-section .banner-img:after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.main-content .profile-section .profile-top-section {
  background-image: url("/assets/img/vcard40/profile-bg.png");
  position: relative;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 90px;
}
.main-content .profile-section .profile-top-section .profile {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  min-width: 140px;
  border: 4px solid var(--bs-white);
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
.main-content .profile-section .profile-top-section .profile-name {
  position: relative;
  z-index: 1;
}
.main-content .profile-section .border-bottom-img {
  margin-top: -140px;
}
.main-content .scial-icons-section ul {
  gap: 16px;
}
.main-content .scial-icons-section ul li a {
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfb88d;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border: 1px solid #ccbe9b;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 575px) {
  .main-content .scial-icons-section ul li a {
    height: 40px;
    width: 40px;
    min-width: 40px;
  }
}
.main-content .scial-icons-section ul li a::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  background-color: #eaddc7;
  border-radius: 50%;
  z-index: -1;
}
.main-content .scial-icons-section ul li a:hover:after {
  height: 100%;
  width: 100%;
}
.main-content .scial-icons-section ul li a svg {
  height: 22px;
  color: #20232b;
}
.main-content .section-heading {
  position: relative;
  text-transform: capitalize;
  padding: 0 8px;
}
.main-content .section-heading::before, .main-content .section-heading::after {
  content: "";
  height: 3px;
  width: 90px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main-content .section-heading::before {
  background: linear-gradient(90deg, #55412ea1, #926f3d63, #cfb88d00);
  left: 100%;
  margin-right: 20px;
}
.main-content .section-heading::after {
  background: linear-gradient(90deg, #cfb88d00, #926f3d63, #55412ea1);
  right: 100%;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .main-content .section-heading::before, .main-content .section-heading::after {
    width: 50px;
  }
}
@media (max-width: 480px) {
  .main-content .section-heading::before, .main-content .section-heading::after {
    width: 30px;
  }
}
.main-content .contact-section .contact-box {
  padding: 8px 10px;
  border-radius: 14px;
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.main-content .contact-section .contact-box a,
.main-content .contact-section .contact-box p {
  color: #20232b;
  word-break: break-all;
}
.main-content .gallery-section .gallery-slider {
  position: relative;
}
.main-content .gallery-section .gallery-slider .gallery-img {
  max-height: 290px;
  min-height: 290px;
  width: 100%;
  aspect-ratio: 1.99;
  border-radius: 10px;
}
.main-content .gallery-section .gallery-slider .gallery-img img,
.main-content .gallery-section .gallery-slider .gallery-img iframe,
.main-content .gallery-section .gallery-slider .gallery-img video {
  aspect-ratio: 1.99;
  height: 100%;
  border-radius: 10px;
}
.main-content .gallery-section .gallery-slider .gallery-img .gallery-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 290px;
}
.main-content .gallery-section .gallery-slider .audio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.main-content .gallery-section .gallery-slider .audio-container .audio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0;
}
.main-content .gallery-section .gallery-slider .audio-container audio {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  z-index: 2;
}
.main-content .gallery-section .gallery-slider .audio-container:-webkit-full-screen {
  padding: 15% !important;
}
.main-content .gallery-section .gallery-slider .audio-container:fullscreen {
  padding: 15% !important;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-slider .audio-container:-webkit-full-screen {
    padding: 20px !important;
    flex-direction: column;
  }
  .main-content .gallery-section .gallery-slider .audio-container:fullscreen {
    padding: 20px !important;
    flex-direction: column;
  }
}
.main-content .gallery-section .gallery-slider .audio-container:-webkit-full-screen .audio-image {
  border-radius: 12px;
}
.main-content .gallery-section .gallery-slider .audio-container:fullscreen .audio-image {
  border-radius: 12px;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-slider .audio-container:-webkit-full-screen .audio-image {
    height: 350px;
  }
  .main-content .gallery-section .gallery-slider .audio-container:fullscreen .audio-image {
    height: 350px;
  }
}
.main-content .gallery-section .gallery-slider .audio-container:-webkit-full-screen audio {
  bottom: calc(15% + 13%);
  min-width: 45%;
}
.main-content .gallery-section .gallery-slider .audio-container:fullscreen audio {
  bottom: calc(15% + 13%);
  min-width: 45%;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-slider .audio-container:-webkit-full-screen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
  .main-content .gallery-section .gallery-slider .audio-container:fullscreen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
}
.main-content .gallery-section .gallery-box {
  height: 290px;
  min-height: 290px;
  border-radius: 10px;
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  position: relative;
}
.main-content .gallery-section .gallery-box .expand-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  width: 45px;
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  z-index: 1;
}
.main-content .gallery-section .gallery-filter-nav {
  padding: 0 10px;
}
.main-content .gallery-section .gallery-filter-btn {
  border: 1px solid #cfb88d;
  background-color: #ffffff;
  color: #998056;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s ease;
}
.main-content .gallery-section .gallery-filter-btn.active {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  border-color: #cfb88d;
  color: #ffffff;
}
.main-content .gallery-section .gallery-filter-panel {
  display: none;
}
.main-content .gallery-section .gallery-filter-panel.active {
  display: block;
}
.main-content .service-section {
  position: relative;
}
.main-content .service-section .service-slider .service-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: 1px solid #918070;
  border-bottom-width: 4px;
}
.main-content .service-section .service-slider .service-card .service-img img {
  aspect-ratio: 1.4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-content .service-section .service-slider .service-card .service-content {
  text-align: center;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #20232b;
  min-height: 188px;
}
.main-content .service-section .service-slider .service-card .service-content .card-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  font-size: 18px;
}
.main-content .service-section .service-slider .service-card .service-content .description-text {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 63px;
}
.main-content .service-row {
  padding: 0 10px;
}
.main-content .service-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: 1px solid #918070;
  border-bottom-width: 4px;
}
.main-content .service-card .service-img img {
  aspect-ratio: 1.145;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-content .service-card .service-content {
  text-align: center;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #20232b;
}
.main-content .service-card .service-content .card-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  font-size: 18px;
}
.main-content .service-card .service-content .description-text {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 63px;
}
.main-content .appointment-section .date-input .appoint-input {
  background-color: #ffffff;
  border: 1px solid #918070;
  border-bottom-width: 4px !important;
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 14px;
}
.main-content .appointment-section .date-input .calender-icon {
  position: absolute;
  inset-inline-end: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.main-content .appointment-section .date-input .calender-icon svg {
  width: 18px;
  height: 18px;
}
.main-content .appointment-section .time-select .time-slot {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  color: #ffffff;
  border: 1px solid #c6b082 !important;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
.main-content .appointment-section .time-select .time-slot:hover {
  color: #20232b;
  background: #ffffff !important;
  border: 1px solid #20232b !important;
}
.main-content .appointment-section .appointment-btn {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  border: 1px solid #c6b082;
  border-radius: 6px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
@media (max-width: 575px) {
  .main-content .appointment-section .appointment-btn {
    font-size: 14px;
  }
}
.main-content .appointment-section .appointment-btn:hover {
  color: #20232b;
  background: #ffffff !important;
  border: 1px solid #20232b !important;
}
.main-content .product-section .product-slider .product-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: 1px solid #918070;
  border-bottom-width: 4px;
}
.main-content .product-section .product-slider .product-card .product-img img {
  aspect-ratio: 1.145;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-content .product-section .product-slider .product-card .product-content {
  text-align: center;
  background-color: #efe4d4;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 124px;
  color: #20232b;
}
@media (max-width: 575px) {
  .main-content .product-section .product-slider .product-card .product-content {
    min-height: 152px;
  }
}
.main-content .product-section .product-slider .product-card .product-content .card-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  font-size: 18px;
  text-align: left;
}
.main-content .product-section .product-slider .product-card .product-content .price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-content .product-section .view-all {
  padding: 10px 20px;
  position: relative;
  border: 1px solid #1e263a;
}
.main-content .product-section .view-all .right-arrow-animation {
  animation: right-arrow 1s linear 1s infinite alternate;
}
.main-content .product-section .product-bottom-img {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 375px) {
  .main-content .product-section .product-bottom-img {
    bottom: -20px;
  }
}
.main-content .whatsapp-store-section .whatsapp-store-slider .slick-slide {
  padding: 0 10px;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-box {
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #918070;
  border-radius: 20px;
  border-bottom-width: 4px;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-img {
  width: 100%;
  overflow: hidden;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.45;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-content {
  padding: 15px;
  min-height: 136px;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-content .whatsapp-store-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 44px;
  font-size: 18px;
}
.main-content .testmonial-section {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .main-content .testmonial-section {
    padding-top: 60px;
  }
}
.main-content .testmonial-section .testmonial-slider .testimonial-card {
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  position: relative;
  border-radius: 10px;
  margin-top: 50px;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  min-width: 90px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #b39761;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 46px 14px 36px 14px;
  border-radius: 10px;
  min-height: 212px;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  min-height: 96px;
  text-align: center;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-desc {
  position: relative;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-desc .quote-left {
  position: absolute;
  top: -30px;
  left: 0;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-desc .quote-right {
  position: absolute;
  right: 0;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card h6 {
  text-align: center;
  color: #b39761;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main-content .insta-feed iframe {
  border: 2px solid #918070 !important;
  overflow: hidden;
  margin-bottom: 0 !important;
  border-radius: 15px !important;
}
.main-content .insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.main-content .insta-feed::-webkit-scrollbar {
  width: 0px;
}
.main-content .insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}
.main-content .insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}
.main-content .instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.main-content .instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #918070 !important;
  transition: width 0.3s ease;
}
.main-content .instagram-btn.active::before {
  width: 80%;
}
.main-content .instagram-btn .svg-post-icon rect,
.main-content .instagram-btn .svg-post-icon line {
  stroke: #918070 !important;
}
.main-content .instagram-btn.active .svg-post-icon rect, .main-content .instagram-btn.active .svg-post-icon line {
  fill: #918070 !important;
  stroke: #f2f2f2 !important;
}
.main-content .instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.main-content .instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.main-content .instagram-btn .svg-reels-icon path.not-active-svg,
.main-content .instagram-btn .svg-reels-icon rect {
  fill: #918070 !important;
}
.main-content .instagram-btn .svg-reels-icon path {
  fill: #918070 !important;
}
.main-content .instagram-btn.active .svg-reels-icon .not-active-svg, .main-content .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.main-content .instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}
.main-content .insta-toggle {
  border-radius: 35px !important;
  transition: all 0.3s ease !important;
}
.main-content #instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}
.main-content .instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
  border-radius: 15px !important;
  border: 1px solid #918070 !important;
  box-shadow: none !important;
}
.main-content .linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.main-content .linkedin-feed-iframe {
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}
.main-content .linkedin-feed-iframe iframe {
  width: calc(100% - 2px) !important;
  height: 500px !important;
  transform-origin: top left;
  transform: scale(1);
  margin-bottom: 0px !important;
  overflow: hidden;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #918070 !important;
  -o-border-image: initial !important;
     border-image: initial !important;
  border-radius: 15px !important;
}
.main-content .blog-section .blog-slider .blog-card {
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.main-content .blog-section .blog-slider .blog-card .blog-img {
  height: 300px;
  display: block;
}
.main-content .blog-section .blog-slider .blog-card .blog-content {
  background-color: #efe4d4;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 14px 20px;
  min-height: 190px;
}
.main-content .blog-section .blog-slider .blog-card .blog-content h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 48px;
  font-size: 20px;
}
.main-content .blog-section .blog-slider .blog-card .blog-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 72px;
}
.main-content .blog-section .blog-slider .blog-card .blog-content .read-more {
  display: block;
  text-align: right;
}
.main-content .blog-section .blog-slider .blog-card .blog-content .read-more-border {
  border: 1px solid #cfb88d;
}
.main-content .blog-section .blog-bottom-img {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 375px) {
  .main-content .blog-section .blog-bottom-img {
    bottom: -20px;
  }
}
.main-content .business-hour-section {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .main-content .business-hour-section {
    padding-top: 40px;
  }
}
.main-content .business-hour-section .business-cards {
  margin-top: 40px;
}
.main-content .business-hour-section .business-cards .business-box {
  padding: 26px 10px 8px 14px;
  border-radius: 14px;
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  position: relative;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}
.main-content .business-hour-section .business-cards .business-box .calender-img {
  position: absolute;
  background-color: #cfb88d;
  height: 40px;
  width: 40px;
  min-width: 40px;
  top: -18px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .qr-code-section .qr-code-box {
  border-radius: 14px;
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  padding: 16px 20px;
}
.main-content .qr-code-section .qr-code-box .qr-img {
  border: 1px solid #918070;
  border-radius: 10px;
  padding: 8px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  background-color: #ffffff;
}
.main-content .iframe-section .iframe-slider .iframe-box {
  min-height: 350px;
  height: 350px;
  border-radius: 14px;
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  overflow: hidden;
  background-color: white;
}
.main-content .iframe-section .iframe-slider .iframe-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.main-content .payment-link-section .payment-link-slider .slick-track {
  display: flex;
  align-items: stretch;
}
.main-content .payment-link-section .payment-link-slider .slick-slide {
  height: auto;
}
.main-content .payment-link-section .payment-link-slider .slick-slide > div {
  height: 100%;
}
.main-content .payment-link-section .payment-link-slider .slide {
  height: 100%;
}
.main-content .payment-link-section .pl-strip {
  display: flex;
  align-items: center;
  background-image: url("/assets/img/vcard40/bg.png");
  border-radius: 16px;
  padding: 14px 16px;
  transition: all 0.3s ease;
  min-height: 120px;
  height: 100%;
  border: 1px solid #918070;
  border-bottom-width: 4px !important;
}
.main-content .payment-link-section .pl-strip-icon {
  flex-shrink: 0;
  background: #decebb;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .payment-link-section .pl-strip-icon img {
  height: 65px;
  width: 46px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-content .payment-link-section .pl-strip-content {
  flex-grow: 1;
  padding: 0 14px;
  min-width: 0;
}
.main-content .payment-link-section .pl-strip-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #20232b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .payment-link-section .pl-strip-desc {
  font-size: 13px;
  color: #20232b;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.4;
  max-height: calc(1.4em * 4);
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.main-content .payment-link-section .pl-strip-action {
  flex-shrink: 0;
}
.main-content .payment-link-section .pl-strip-btn {
  padding: 8px 18px;
  border-radius: 10px;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s ease;
}
.main-content .payment-link-section .pl-strip-badge {
  padding: 9px 11px 5px 16px;
  border-radius: 10px;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
.main-content .payment-link-section .link-icon-btn svg {
  width: 15px;
  height: 16px;
}
.main-content .payment-link-section .pl-strip-content-img {
  max-width: 65px;
  max-height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .contact-us-section .contact-form {
  border-bottom-width: 4px !important;
  border: 1px solid #918070;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
}
.main-content .contact-us-section .contact-form form input:not([type=checkbox]),
.main-content .contact-us-section .contact-form form textarea,
.main-content .contact-us-section .contact-form form .upload-file {
  border-radius: 10px;
  border: 1px solid #918070;
  padding: 10px;
  width: 100%;
  background-image: url("/assets/img/vcard40/bg.png");
  color: #1d263b;
  overflow: hidden;
  font-weight: 100;
  cursor: pointer;
}
.main-content .contact-us-section .contact-form form input:not([type=checkbox])::-moz-placeholder, .main-content .contact-us-section .contact-form form textarea::-moz-placeholder, .main-content .contact-us-section .contact-form form .upload-file::-moz-placeholder {
  color: #1d263b;
}
.main-content .contact-us-section .contact-form form input:not([type=checkbox])::placeholder,
.main-content .contact-us-section .contact-form form textarea::placeholder,
.main-content .contact-us-section .contact-form form .upload-file::placeholder {
  color: #1d263b;
}
.main-content .contact-us-section .contact-form form .upload-file svg {
  width: 16px;
  color: #ffffff;
}
.main-content .contact-us-section .contact-form form .upload-file input {
  position: relative;
  z-index: 9;
}
.main-content .contact-us-section .contact-form form .upload-file .cstm-file-upload {
  background-image: url("/assets/img/vcard40/bg.png");
  color: #1d263b;
  cursor: pointer;
  overflow: hidden;
}
.main-content .contact-us-section .contact-form form .send-msg {
  padding: 8px 20px;
  border: 1px solid #cfb88d;
}
.main-content .contact-us-section .form-check-input[type=checkbox] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  min-width: 16px;
  padding: 0;
}
.main-content .contact-us-section .contact-bottom-img {
  position: absolute;
  bottom: -30px;
  z-index: -1;
  left: 0;
}
.main-content .create-your-vcard {
  padding-top: 80px;
}
@media (max-width: 575px) {
  .main-content .create-your-vcard {
    padding-top: 60px;
  }
}
.main-content .create-your-vcard .cart {
  border: 1px solid #918070;
  padding: 10px;
  border-radius: 10px;
  border-bottom-width: 4px !important;
  background-color: white;
}
.main-content .create-your-vcard .create-vcard {
  padding: 10px;
  background-image: url("/assets/img/vcard40/bg.png");
  border: 1px solid #918070;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-content .map-section .location-section {
  border: 1px solid #918070;
  padding: 10px;
  border-radius: 10px;
  border-bottom-width: 4px !important;
}
.main-content .map-section .location-section .location-img {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: #ae946a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.main-content .map-section .location-section .location-name {
  background-image: url("/assets/img/vcard40/bg.png");
  border: 1px solid #918070;
  padding: 4px 12px;
  border-radius: 10px;
  border-bottom-width: 4px !important;
}
.main-content .map-section .location-section .map-iframe {
  height: 300px;
}
.main-content .map-section .location-section .map-iframe iframe {
  border-radius: 10px;
}
.main-content .sticky-btn .fixed-sticky #social-menu {
  top: -70px;
  right: 80px;
  animation: opacity-show 0.4s ease-in-out alternate;
}
.main-content .sticky-btn .fixed-sticky #social-menu a {
  background-color: #cfb88d !important;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border: 0;
  border-radius: 50%;
}
.main-content .sticky-btn .fixed-sticky #social-menu a svg {
  width: 20px;
}
.main-content .sticky-btn .fixed-sticky #social-menu a svg path {
  fill: #ffffff;
}
.main-content .btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}
.main-content .btn-section .fixed-btn-section .architect-bars-btn {
  background-color: #cfb88d !important;
}
.main-content .btn-section .fixed-btn-section .sub-btn .architect-sub-btn {
  background-color: #20232b !important;
  border: 1px solid #cfb88d !important;
}
.main-content .btn-section .fixed-btn-section .sub-btn .architect-sub-btn i {
  color: #cfb88d !important;
}
.main-content .vcard40-btn-group {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  color: #ffffff;
  background-color: #cfb88d !important;
  border-radius: 50px !important;
  border: none !important;
}
.main-content .vcard40-btn-group .no-hover:hover {
  color: inherit !important;
}
.main-content .share-wp-btn {
  background-color: #cfb88d !important;
  border: none !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  color: #ffffff !important;
  text-decoration: none !important;
}
.main-content .share-wp-btn i {
  color: #ffffff !important;
}
.main-content .sticky-vcard-div {
  z-index: 9;
  bottom: 60px;
  position: fixed;
  left: 0;
}
.main-content .sticky-vcard-div a {
  background-color: #cfb88d;
  color: #ffffff;
  font-weight: 500;
  gap: 10px;
  padding: 14px 28px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}
.main-content .sticky-vcard-div a svg {
  width: 16px;
}
.main-content .sticky-vcard-div a:hover {
  transform: scale(1.1);
}

.dob-icon svg {
  width: 24px;
  height: 22px;
  color: #ae946a;
}

.wrapper-file-section .selected-files {
  margin-top: 15px;
}
.wrapper-file-section .selected-files h6 {
  color: #1d263b;
  margin-bottom: 10px;
  font-weight: 500;
}
.wrapper-file-section .selected-files .file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper-file-section .selected-files .file-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  background-color: #efe4d4;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #20232b;
}
.wrapper-file-section .selected-files .file-list li .name {
  flex: 1;
  color: #1d263b;
  font-size: 14px;
  margin-right: 15px;
  word-break: break-all;
}
.wrapper-file-section .selected-files .file-list li .remove {
  cursor: pointer;
  color: #dc3545;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.support-banner-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 99999 !important;
  pointer-events: none;
}
.support-banner-container .support-banner {
  width: 100%;
  max-width: 606px;
  height: auto !important;
  background: #ffffff !important;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #cfb88d;
  border-radius: 20px;
  box-shadow: none;
  margin: 0 auto;
  pointer-events: auto;
  position: relative;
}
.support-banner-container .support-banner .support_heading {
  font-size: 27px;
  margin-top: 30px;
  color: #20232b;
}
.support-banner-container .support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow: auto !important;
  margin-top: 13px;
}

.banner-close {
  position: absolute;
  top: 10px !important;
  right: 15px !important;
  font-size: 20px !important;
}

.act-now {
  padding: 10px 21px;
  background: #cfb88d;
  border: 1px solid #cfb88d;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 10px;
  font-weight: 500 !important;
  color: #ffffff !important;
}
.act-now:hover {
  background-color: #ffffff !important;
  color: #cfb88d !important;
}

.banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  color: #20232b;
  background: none;
  border: none;
  cursor: pointer;
}

.vcard-one__product .product-card {
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #20232b;
}
.vcard-one__product .product-card .card-body {
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #efe4d4;
  border: 1px solid #20232b;
  text-align: center;
}

.product-heading {
  font-size: 28px !important;
  background: #20232b !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.back-btn {
  padding: 12px 20px;
  border: 1px solid #cfb88d;
  outline: none;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600 !important;
  color: #ffffff !important;
}
.back-btn:hover {
  background: #ffffff !important;
  color: #20232b !important;
  border: 1px solid #20232b !important;
}

.buy-product {
  padding: 12px 30px;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
  border: 1px solid #cfb88d;
  outline: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 600 !important;
  color: #ffffff !important;
}
.buy-product:hover {
  background: #ffffff !important;
  color: #20232b !important;
  border: 1px solid #20232b !important;
}

.btn-product-enquiry {
  padding: 10.5px 30px;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
  border: 1px solid #cfb88d;
  outline: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 600 !important;
  color: #ffffff !important;
}
.btn-product-enquiry:hover {
  background: #ffffff !important;
  color: #20232b !important;
  border: 1px solid #20232b !important;
}

.modal {
  z-index: 99999 !important;
  background-color: #00000080;
}
.modal .modal-dialog {
  margin: 1.75rem auto;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: white;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 24px;
  text-align: center !important;
  color: #cfb88d !important;
  padding-top: 16px;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #cfb88d;
  font-size: 23px;
  font-weight: 600 !important;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: gray;
  font-size: 16px;
  font-weight: 500 !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn {
  padding: 6px 10px !important;
  border-radius: 8px !important;
  background: #cfb88d !important;
  color: white !important;
  font-size: 15px;
  border: none;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn:focus {
  box-shadow: unset;
}
.modal .news-modal #newsLatter-content .modal-body .email-input:focus {
  box-shadow: unset;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700 !important;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  margin-top: 15px;
}
.modal .news-modal #newsLatter-content .modal-body .submit-btn {
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e);
  border: none;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.modal .news-modal #newsLatter-content .modal-body .submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#passwordModal {
  overflow-y: hidden;
}
#passwordModal .modal-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: #ffffff;
}
#passwordModal .modal-content .modal-header {
  padding: 1rem 1.75rem 0 1.75rem;
}
#passwordModal .modal-content .modal-header .modal-title {
  color: #20232b;
  font-size: 23px;
  font-weight: 600 !important;
  text-align: center !important;
}
#passwordModal .modal-content .modal-body {
  padding: 1.75rem;
}
#passwordModal .modal-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
#passwordModal .modal-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
#passwordModal .modal-content .modal-body .submit-btn {
  background: #cfb88d;
  border: none;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#passwordModal .modal-content .modal-body .submit-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#newsLatterModal .modal-dialog {
  margin: 1.75rem auto;
}

#passwordModal .modal-dialog {
  margin: 1.75rem auto;
}

#email-send {
  background: #cfb88d !important;
  color: white !important;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}
#email-send:focus {
  box-shadow: unset;
}

.vcard-forty-heading {
  color: #20232b !important;
}

.vcard-forty-btn {
  padding: 10px 20px;
  border: 1px solid #cfb88d;
  outline: none;
  background: linear-gradient(90deg, #c6b082, #926f3d, #55412e) !important;
  color: #ffffff !important;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500 !important;
}
.vcard-forty-btn:hover {
  background: #ffffff !important;
  color: #20232b !important;
  border: 1px solid #20232b !important;
}

.vcard-forty-btn {
  position: relative;
  z-index: 999;
  pointer-events: auto;
}

.sound-toggle-btn {
  position: absolute;
  top: 315px;
  right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 575px) {
  .sound-toggle-btn {
    top: 290px;
    right: 5px;
    width: 30px;
    height: 30px;
  }
}

.youtube-link-40 {
  padding-top: 56.25%;
  position: relative;
}
.youtube-link-40 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  height: 100% !important;
  width: 100 !important;
}

@keyframes right-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.bg-animation-vcard40 {
  position: relative;
}
.bg-animation-vcard40:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #918070;
  opacity: 0.5;
  top: 0;
  left: 0;
}
.bg-animation-vcard40 .video-bg {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
