@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Black.ttf") format(truetype);
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
body {
  font-family: "Lato";
  font-size: 16px;
  color: #151c21;
}
@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

.slick-slider {
  margin-bottom: 0 !important;
}

.slick-slide {
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

input:focus,
.form-control:focus {
  box-shadow: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  list-style-type: none;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-40 {
  row-gap: 40px;
}

.text-primary {
  color: #eb8001 !important;
}

.text-secondary {
  color: #192f5d !important;
}

a {
  text-decoration: none;
}

.slick-dots {
  position: inherit;
  bottom: auto;
  margin-top: 8px;
}
@media (max-width: 375px) {
  .slick-dots {
    margin-top: 0px;
  }
}
.slick-dots li {
  margin: 0 10px;
  height: 10px;
  width: 10px;
}
.slick-dots li button {
  height: 10px;
  width: 10px;
}
.slick-dots li button:before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 1;
  border: 1px solid #eb8001;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  background: #eb8001;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .px-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 575px) {
  .pt-40 {
    padding-top: 30px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 575px) {
  .fs-20 {
    font-size: 18px;
  }
}

.fs-18 {
  font-size: 18px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-16 {
  font-size: 16px;
}
@media (max-width: 575px) {
  .fs-16 {
    font-size: 14px;
  }
}

.btn-primary {
  background-color: #eb8001 !important;
  color: #fff !important;
  padding: 6px 20px;
  border-radius: 5px;
  border: 1px solid #eb8001;
  transition: 0.4s;
  display: block;
}
.btn-primary:hover {
  background-color: #192f5d !important;
  color: #fff !important;
}

.w-60px {
  width: 60px;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 3px 9px;
  background: #eb8001 !important;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  position: relative;
}
.language ul .lang-list .lang-head {
  color: #fff !important;
}
.language ul .lang-list .lang-head i {
  color: #fff !important;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 14px;
  width: 100%;
  right: 0;
  min-width: 70px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 4px 10px;
}
.language ul .lang-list .lang-hover-list li:hover {
  background-color: #eb8001 !important;
}
.language ul .lang-list .lang-hover-list li:hover a {
  color: #fff !important;
}
.language ul .lang-list .lang-hover-list li.active {
  background-color: #eb8001 !important;
}
.language ul .lang-list .lang-hover-list li.active a {
  color: #fff !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li img {
  height: 14px !important;
  width: 18px !important;
}
.language ul .lang-list:hover .dropdown-menu {
  display: block !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.vcard-main-content {
  max-width: 670px;
  border-radius: 15px;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  position: relative;
  background: #fff;
}

.main-content {
  max-width: 670px;
  border-radius: 15px;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  position: relative;
}
@media (max-width: 575px) {
  .main-content .enquiry-btn button {
    width: 100%;
  }
}
.main-content .title {
  margin-bottom: 24px;
  padding-bottom: 24px;
  position: relative;
  margin-top: 18px;
  text-align: center;
}
.main-content .title h5 {
  font-size: 24px;
  font-weight: 700;
  color: #192f5d;
}
@media (max-width: 575px) {
  .main-content .title h5 {
    font-size: 22px;
  }
}
.main-content .title .title-line {
  background-color: #192f5d;
  height: 2px;
  width: 90px;
  display: inline-block;
}
@media (max-width: 575px) {
  .main-content .title .title-line {
    width: 50px;
  }
}
@media (max-width: 475px) {
  .main-content .title .title-line {
    width: 40px;
  }
}
.main-content .title .title-line.left-line {
  margin-right: 30px;
  position: relative;
}
@media (max-width: 575px) {
  .main-content .title .title-line.left-line {
    margin-right: 24px;
  }
}
.main-content .title .title-line.left-line:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 2px solid #eb8001;
  border-radius: 50%;
}
.main-content .title .title-line.right-line {
  margin-left: 30px;
  position: relative;
}
@media (max-width: 575px) {
  .main-content .title .title-line.right-line {
    margin-left: 24px;
  }
}
.main-content .title .title-line.right-line:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 2px solid #eb8001;
}
.main-content .banner-section .banner-img {
  width: 100%;
  aspect-ratio: 2.09375;
  position: relative;
  overflow: hidden;
}
.main-content .banner-section .banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .banner-section .banner-img .cover-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .banner-section .banner-img:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.main-content .profile-description {
  position: relative;
}
.main-content .profile-description::after {
  position: absolute;
  content: "";
  height: 140px;
  width: 50px;
  right: 0;
  top: -10px;
  border: 1px solid #eb8001;
  border-radius: 0 0 40px 40px;
  opacity: 50%;
  transform: rotate(45deg);
}
.main-content .profile-section {
  background-color: #faf6f1;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
.main-content .profile-section::after {
  content: "";
  position: absolute;
  right: -20px;
  top: -48px;
  width: 52px;
  height: 100%;
  background-color: #122533;
  transform: rotate(-38deg);
}
@media (max-width: 575px) {
  .main-content .profile-section::after {
    right: -60px;
  }
}
.main-content .profile-section::before {
  content: "";
  position: absolute;
  left: -70px;
  top: -80px;
  width: 130px;
  height: 220px;
  background-color: #122533;
  transform: rotate(28deg);
  z-index: -1;
}
.main-content .profile-section .profile-img {
  width: 128px;
  height: 128px;
  min-width: 128px;
  min-height: 128px;
}
@media (max-width: 575px) {
  .main-content .profile-section .profile-img {
    margin: 0 auto;
  }
}
.main-content .profile-section .profile-content h1 {
  font-size: 28px;
  font-weight: 900;
}
@media (max-width: 575px) {
  .main-content .profile-section .profile-content h1 {
    font-size: 24px;
  }
}
.main-content .social-section ul {
  position: relative;
  z-index: 1;
}
.main-content .social-section ul::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border: 1px solid #eb8001;
  border-radius: 50%;
  left: 160px;
  bottom: -10px;
  z-index: -1;
  opacity: 50%;
}
.main-content .social-section ul li .social-bg {
  background-image: url("/assets/img/vcard42/social-bg.png");
  color: #fff !important;
  width: 51px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.main-content .social-section ul li .social-bg i {
  color: #fff !important;
  font-size: 20px;
}
.main-content .social-section ul li .social-bg svg {
  width: 20px;
  height: 20px;
  color: #fff !important;
}
.main-content .social-section ul li .social-bg:hover {
  transform: scale(1.1);
}
.main-content .contact-section .contact-icon-box {
  margin-top: 46px;
}
.main-content .contact-section .contact-icon-box .contact-box {
  border: 1px solid #eb8001;
  border-radius: 13px;
  position: relative;
  padding: 53px 0px 0px 0px;
  background-color: #fff;
}
.main-content .contact-section .contact-icon-box .contact-box .social-img {
  background-image: url("/assets/img/vcard42/social-bg.png");
  color: #fff;
  width: 51px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -24px;
  transform: translateX(-50%);
  left: 50%;
}
.main-content .contact-section .contact-icon-box .contact-box .contact-name {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin: auto;
  width: 100%;
  max-width: 210px;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 5px;
  direction: ltr;
  text-align: center;
  line-height: 1.6;
}
.main-content .contact-section .contact-icon-box .contact-box .service-content-bg {
  margin-top: -35px;
}
.main-content .contact-section .contact-icon-box .contact-box .service-content-bg img {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 50px;
}
.main-content .contact-section .contact-icon-box .contact-box .top-img {
  top: -1px;
  right: -1px;
}
.main-content .contact-section .contact-icon-box .contact-box .top-img img {
  width: 50px;
}
.main-content .gallery-section .gallery-filter-nav {
  padding: 0 10px;
}
.main-content .gallery-section .gallery-filter-btn {
  border: 1px solid #eb8001;
  background-color: #fff;
  color: #eb8001;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s ease;
}
.main-content .gallery-section .gallery-filter-btn.active {
  background-color: #eb8001;
  color: #fff;
}
.main-content .gallery-section .gallery-filter-panel {
  display: none;
}
.main-content .gallery-section .gallery-filter-panel.active {
  display: block;
}
.main-content .gallery-section .gallery-item {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 12px;
  background-color: #fff;
}
.main-content .gallery-section .gallery-item .gallery-img {
  max-height: 270px;
  height: 270px;
}
.main-content .gallery-section .gallery-item .gallery-img img {
  border-radius: 12px;
}
.main-content .gallery-section .gallery-item .gallery-img .gallery-file-item {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.main-content .gallery-section .gallery-item .gallery-img .audio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.main-content .gallery-section .gallery-item .gallery-img .audio-container .audio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0;
}
.main-content .gallery-section .gallery-item .gallery-img .audio-container audio {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  z-index: 2;
}
.main-content .gallery-section .gallery-item .gallery-img .audio-container:fullscreen {
  padding: 15% !important;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-item .gallery-img .audio-container:fullscreen {
    padding: 20px !important;
    flex-direction: column;
  }
}
.main-content .gallery-section .gallery-item .gallery-img .audio-container:fullscreen .audio-image {
  border-radius: 12px;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-item .gallery-img .audio-container:fullscreen .audio-image {
    height: 350px;
  }
}
.main-content .gallery-section .gallery-item .gallery-img .audio-container:fullscreen audio {
  bottom: 28%;
  min-width: 45%;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-item .gallery-img .audio-container:fullscreen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
}
.main-content .gallery-section .gallery-item .gallery-top-left {
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
  border-top-left-radius: 13px;
  width: 120px;
}
.main-content .gallery-section .gallery-item .gallery-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(250, 246, 241, 0.5294117647);
  color: #151c21;
  padding: 10px;
  text-align: center;
}
.main-content .gallery-section .gallery-item .expand-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #192f5d;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.main-content .service-section {
  z-index: 1;
}
.main-content .service-section:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background: #eb8001;
  left: 23px;
  top: 30px;
  z-index: -1;
  opacity: 20%;
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  transform: rotate(45deg);
}
.main-content .service-section .service-card {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  z-index: 1;
  border: 1px solid #eb8001;
  background-color: #fff;
}
.main-content .service-section .service-card .service-img {
  height: 260px;
  min-height: 260px;
}
.main-content .service-section .service-card .service-content {
  min-height: 205px;
  padding: 15px 15px 15px 35px;
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.main-content .service-section .service-card .service-content .service-title-desc:after {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  height: 100%;
  width: 2px;
  background-color: #eb8001;
}
.main-content .service-section .service-card .service-content h3 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  color: #fff;
  padding-right: 30px;
  margin-bottom: 12px;
}
.main-content .service-section .service-card .service-content p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  min-height: 63px;
  overflow: hidden;
  color: #fff;
}
.main-content .service-section .service-card .service-content .btn-primary:hover {
  border: 1px solid #eb8001;
}
.main-content .service-section .service-card .service-content-bg {
  margin-top: -135px;
}
.main-content .service-section .service-card .service-content-bg img {
  height: 281px;
}

.appointment-section {
  z-index: 1;
}
.appointment-section .appointment-bg {
  border: 1px solid #eb8001;
  background-image: url("/assets/img/vcard42/vcard-bg.png");
  padding: 34px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: bottom;
  background-size: 100%;
  background-color: #fff;
}
.appointment-section .appointment-bg:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
}
.appointment-section .appointment-bg .cart-bg {
  pointer-events: none;
}
.appointment-section .appointment-bg .input-group-date,
.appointment-section .appointment-bg .appoint-input {
  color: #192f5d;
  background: #fff;
  padding: 8px 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #eb8001;
}
.appointment-section .appointment-bg .timePick .appoint-input {
  color: #192f5d;
}
.appointment-section .appointment-bg .timePick .appoint-input:hover, .appointment-section .appointment-bg .timePick .appoint-input.activeSlot {
  background-color: #eb8001;
  color: #fff;
}
.appointment-section .appointment-bg .btn-primary:hover {
  border: 1px solid #eb8001;
}

.qr-code-section {
  z-index: 1;
}
.qr-code-section:after {
  position: absolute;
  content: "";
  height: 140px;
  width: 50px;
  right: 0;
  bottom: -40px;
  border: 1px solid #eb8001;
  border-radius: 40px 40px 0 0;
  opacity: 50%;
  transform: rotate(-45deg);
  z-index: -1;
}
.qr-code-section .qr-img {
  width: 120px;
  height: 120px;
  min-width: 120px;
}
.qr-code-section h5 {
  font-size: 22px;
}

.product-section::after {
  position: absolute;
  content: "";
  height: 70px;
  width: 70px;
  left: -20px;
  top: -20px;
  background: #eb8001;
  border-radius: 50%;
  opacity: 20%;
  transform: rotate(-45deg);
}
.product-section .product-slider .product-card {
  position: relative;
  overflow: hidden;
  border-radius: 17px;
  border: 1px solid #eb8001;
  z-index: 1;
  background-color: #fff;
}
.product-section .product-slider .product-card .product-img {
  height: 260px;
  min-height: 260px;
}
.product-section .product-slider .product-card .product-content {
  padding: 15px 15px 15px 35px;
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.product-section .product-slider .product-card .product-content:after {
  position: absolute;
  content: "";
  top: 0;
  left: 15px;
  height: 90%;
  width: 2px;
  background-color: #eb8001;
}
.product-section .product-slider .product-card .product-content h3 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  color: #fff;
  padding-right: 20px;
}
.product-section .product-slider .product-card .product-content span {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  min-height: 20px;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  text-overflow: ellipsis;
}
.product-section .product-slider .product-card .service-content-bg {
  margin-top: -88px;
}
.product-section .product-slider .product-card .service-content-bg img {
  height: 181px;
}
.product-section .view-all {
  padding: 10px 20px;
  position: relative;
  border: 1px solid #eb8001;
}
.product-section .view-all .right-arrow-animation {
  animation: right-arrow 1s linear 1s infinite alternate;
}
.product-section .btn-primary:hover {
  border: 1px solid #eb8001;
}

.whatsapp-store-section {
  background-color: #fff !important;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 17px;
  border: 1px solid #eb8001;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-img {
  height: 260px;
  min-height: 260px;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-content {
  padding: 15px !important;
  z-index: 10;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-content::after {
  display: none;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-content .whatsapp-card-name {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 44px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-right: 25px;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-content .enquiry-btn {
  display: flex;
  justify-content: center;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-content .enquiry-btn .btn-primary {
  padding: 8px 18px;
  border-radius: 10px;
  background: #eb8001;
  color: #fff;
  border: 1px solid #eb8001;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-content .enquiry-btn .btn-primary:hover {
  background-color: #fff;
  color: #eb8001;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-bg {
  margin-top: -88px;
}
.whatsapp-store-section .whatsapp-store-slider .whatsapp-card .whatsapp-card-bg img {
  height: 181px;
  width: 100%;
}

.payment-link-section .payment-link-slider .slick-track {
  display: flex;
  align-items: stretch;
}
.payment-link-section .payment-link-slider .slick-slide {
  height: auto;
  display: flex;
}
.payment-link-section .payment-link-slider .slick-slide > div {
  width: 100%;
  display: flex;
}
.payment-link-section .payment-link-slider .pl-strip {
  background-color: #faf6f1;
  border: 1px solid #eb8001;
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
  min-height: 110px;
  height: 100%;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-icon {
  width: 70px;
  height: 70px;
  min-width: 70px;
  padding: 10px;
  background: #f6dfcb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-content {
  flex: 1;
  padding: 0 15px;
  z-index: 2;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-content .pl-strip-title {
  font-size: 18px;
  color: #192f5d;
  margin-bottom: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-content .pl-strip-desc {
  color: #192f5d;
  opacity: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-action {
  z-index: 2;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-action .pl-strip-btn,
.payment-link-section .payment-link-slider .pl-strip .pl-strip-action .pl-strip-badge {
  padding: 8px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.payment-link-section .payment-link-slider .pl-strip .pl-strip-action .pl-strip-content-img {
  max-width: 60px;
  border-radius: 8px;
}

.blog-section .blog-slider .blog-card {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #192f5d;
  background: #faf6f1;
}
.blog-section .blog-slider .blog-card .blog-img {
  max-height: 220px;
  height: 220px;
  min-width: 50%;
  border-radius: 12px;
  position: relative;
}
@media (max-width: 575px) {
  .blog-section .blog-slider .blog-card .blog-img {
    max-height: 180px;
    height: 180px;
  }
}
.blog-section .blog-slider .blog-card .blog-img::after {
  position: absolute;
  content: "";
  height: 22px;
  width: 50px;
  background-color: #fff;
  top: 0;
  left: 0;
  border-bottom-right-radius: 17px;
}
.blog-section .blog-slider .blog-card .blog-img .top-left-img {
  position: absolute;
  top: -4px;
  left: 6px;
  width: 30px;
  z-index: 1;
}
.blog-section .blog-slider .blog-card .blog-img img {
  border-radius: 12px;
}
.blog-section .blog-slider .blog-card .blog-content-wrapper {
  padding: 15px 60px;
}
@media (max-width: 575px) {
  .blog-section .blog-slider .blog-card .blog-content-wrapper {
    padding: 15px 20px;
  }
}
.blog-section .blog-slider .blog-card .blog-content {
  padding-top: 14px;
}
.blog-section .blog-slider .blog-card .blog-content h3 {
  font-size: 20px;
  color: #192f5d;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 48px;
}
.blog-section .blog-slider .blog-card .blog-content .blog-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 39px;
  font-size: 16px;
  line-height: 1.2;
  color: #192f5d;
}
.blog-section .blog-slider .blog-card .blog-content .line {
  width: 60px;
  height: 2px;
  background-color: #eb8001;
  display: block;
}
.blog-section .blog-slider .blog-card .blog-content a {
  color: #eb8001;
}
.blog-section .blog-slider .blog-card .service-content-bg {
  margin-top: -60px;
}
@media (max-width: 475px) {
  .blog-section .blog-slider .blog-card .service-content-bg {
    margin-top: -40px;
  }
}
.blog-section .blog-slider .blog-card .service-content-bg img {
  height: 160px;
}
@media (max-width: 575px) {
  .blog-section .blog-slider .blog-card .service-content-bg img {
    height: 100px;
  }
}
.blog-section .blog-slider .blog-card .blog-read-more {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 24px;
}
@media (max-width: 575px) {
  .blog-section .blog-slider .blog-card .blog-read-more {
    padding-bottom: 10px;
  }
}
.blog-section .btn-primary:hover {
  border: 1px solid #eb8001;
}

.iframe-section .iframe-slider .iframe-box {
  min-height: 350px;
  height: 350px;
  border-radius: 14px;
  border-bottom-width: 4px !important;
  border: 1px solid #192f5d;
  overflow: hidden;
  background-color: white;
}
.iframe-section .iframe-slider .iframe-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.insta-feed iframe {
  border: 2px solid #192f5d !important;
  overflow: hidden;
  margin-bottom: 0 !important;
  border-radius: 15px !important;
}

.insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #192f5d !important;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect,
.instagram-btn .svg-post-icon line {
  stroke: #192f5d !important;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: #192f5d !important;
  stroke: #f2f2f2 !important;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg,
.instagram-btn .svg-reels-icon rect {
  fill: #192f5d !important;
}
.instagram-btn .svg-reels-icon path {
  fill: #192f5d !important;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
  border-radius: 15px !important;
  border: 1px solid #192f5d !important;
  box-shadow: none !important;
}

.linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.linkedin-feed-iframe {
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.linkedin-feed-iframe iframe {
  width: calc(100% - 2px) !important;
  height: 500px !important;
  transform-origin: top left;
  transform: scale(1);
  margin-bottom: 0px !important;
  overflow: hidden;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #192f5d !important;
  -o-border-image: initial !important;
     border-image: initial !important;
  border-radius: 15px !important;
}

.testimonial-section .testimonial-slider .testimonial-card {
  border: 1px solid #eb8001;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  padding-top: 35px;
  background: #faf6f1;
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  min-width: 130px;
  margin-top: -110px;
  position: relative;
  z-index: 1;
  padding: 3px;
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-slider .testimonial-card .testimonial-img {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-img:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #eb8001;
  top: -2px;
  left: -3px;
  border-radius: 50%;
  z-index: -1;
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-bg {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 40px 0px 70px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-slider .testimonial-card .testimonial-bg {
    position: inherit;
    padding: 14px 40px;
  }
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-bg .line {
  height: 2px;
  width: 100px;
  background-color: #eb8001;
  display: block;
}
.testimonial-section .testimonial-slider .testimonial-card .service-content-bg {
  margin-top: 40px;
}
.testimonial-section .testimonial-slider .testimonial-card .service-content-bg img {
  height: 70px;
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-slider .testimonial-card .service-content-bg {
    margin-top: -30px;
  }
}
.testimonial-section .testimonial-slider .testimonial-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  min-height: 72px;
}
.testimonial-section .testimonial-slider .testimonial-card .testimonial-desc {
  position: relative;
}
.testimonial-section .testimonial-slider .testimonial-card h6 {
  color: #192f5d;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  line-height: normal;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img {
  width: 40px;
  position: absolute;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img.quote-left {
  top: 0px;
  left: 0px;
}
.testimonial-section .testimonial-slider .custom-next,
.testimonial-section .testimonial-slider .custom-prev {
  bottom: 23px;
  border-radius: 10px;
}
.testimonial-section .testimonial-slider .slick-dots {
  margin-top: 0;
  bottom: 60px;
}
.testimonial-section .testimonial-slider .slick-dots li button:before {
  border: 2px solid #eb8001;
}
.testimonial-section .testimonial-slider .slick-dots li.slick-active button:before {
  background-color: #eb8001;
}

.business-hour-section::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background: #eb8001;
  right: 23px;
  top: 30px;
  opacity: 20%;
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  transform: rotate(45deg);
}
.business-hour-section .business-cards {
  margin-top: 40px;
}
.business-hour-section .business-cards .business-box {
  border-radius: 14px;
  border: 1px solid #eb8001;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
}
.business-hour-section .business-cards .business-box .calender-img {
  background-image: url("/assets/img/vcard42/social-bg.png");
  color: #fff;
  width: 51px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -24px;
  transform: translateX(-50%);
  left: 50%;
}
.business-hour-section .business-cards .business-box .business-content {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 100%;
}
.business-hour-section .business-cards .business-box .business-bg-img img {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  height: 80px;
  border-top-left-radius: 12px;
}

.dashed-border {
  margin: 50px 0 0;
  border-bottom: 1px dashed #eb8001;
}

.contact-us-section {
  border-bottom: 1px dashed #eb8001;
}
.contact-us-section .contact-form {
  border: 1px solid #eb8001;
  border-radius: 10px;
  background-color: #fff;
}
.contact-us-section .contact-form form input:not([type=checkbox]),
.contact-us-section .contact-form form textarea,
.contact-us-section .contact-form form .upload-file {
  border-radius: 10px;
  border: 1px solid #eb8001;
  padding: 10px;
  width: 100%;
  color: #192f5d;
  background-color: #faf6f1;
  overflow: hidden;
}
.contact-us-section .contact-form form input:not([type=checkbox])::-moz-placeholder, .contact-us-section .contact-form form textarea::-moz-placeholder, .contact-us-section .contact-form form .upload-file::-moz-placeholder {
  color: #192f5d;
}
.contact-us-section .contact-form form input:not([type=checkbox])::placeholder,
.contact-us-section .contact-form form textarea::placeholder,
.contact-us-section .contact-form form .upload-file::placeholder {
  color: #192f5d;
}
.contact-us-section .contact-form form .upload-file svg {
  width: 16px;
}
.contact-us-section .contact-form form .upload-file svg path {
  fill: #eb8001;
}
.contact-us-section .contact-form form .upload-file input {
  position: relative;
  z-index: 9;
  border-radius: 10px;
}
.contact-us-section .contact-form form .upload-file .cstm-file-upload {
  color: #eb8001;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  border: 1px dashed #eb8001;
  background-color: #faf6f1;
}
.contact-us-section .contact-form form .send-msg {
  padding: 8px 20px;
}
@media (max-width: 575px) {
  .contact-us-section .contact-form form .send-msg {
    padding: 4px 10px;
  }
}
.contact-us-section .contact-form .form-check-input[type=checkbox] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  min-width: 16px;
  padding: 0;
}
.contact-us-section .contact-form .contact-icon-box img {
  height: 160px;
}
@media (max-width: 575px) {
  .contact-us-section .contact-form .contact-icon-box img {
    height: 100px;
  }
}
.contact-us-section .btn-primary:hover {
  border: 1px solid #eb8001;
}
.contact-us-section .top-img {
  top: -10px;
  right: -8px;
}
@media (max-width: 575px) {
  .contact-us-section .top-img {
    top: -14px;
    right: -12px;
  }
}

.sticky-vcard-div {
  z-index: 9;
  bottom: 60px;
  position: fixed;
  left: 0;
}
.sticky-vcard-div a {
  background-color: #eb8001;
  color: #fff;
  font-weight: 500;
  gap: 10px;
  padding: 14px 28px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}
.sticky-vcard-div a svg {
  width: 16px;
}
.sticky-vcard-div a:hover {
  transform: scale(1.1);
}

.wrapper-file-section .selected-files {
  margin-top: 15px;
}
.wrapper-file-section .selected-files h6 {
  color: #192f5d;
  margin-bottom: 10px;
  font-weight: 500;
}
.wrapper-file-section .selected-files .file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper-file-section .selected-files .file-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  background-color: #faf6f1;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #eb8001;
}
.wrapper-file-section .selected-files .file-list li .name {
  flex: 1;
  color: #192f5d;
  font-size: 14px;
  margin-right: 15px;
  word-break: break-all;
}
.wrapper-file-section .selected-files .file-list li .remove {
  cursor: pointer;
  color: #dc3545;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.create-your-vcard .cart {
  background-image: url("/assets/img/vcard42/vcard-bg.png");
  background-size: 100% 100%;
  padding: 24px;
  background-repeat: no-repeat;
  border: 1px solid #eb8001;
  border-radius: 16px;
  position: relative;
}
.create-your-vcard .cart::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
}
.create-your-vcard .create-vcard {
  border: 1px solid #eb8001;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #192f5d;
  font-size: 15px;
}

.map-section {
  padding-bottom: 30px;
}
.map-section .location-section {
  border: 1px solid #eb8001;
  border-radius: 10px;
  background-color: #faf6f1;
  position: relative;
}
.map-section .location-section .map-name {
  padding: 10px 10px 95px 10px;
}
.map-section .location-section .map-name .location-name {
  position: relative;
  z-index: 1;
  padding: 5px 83px 0 5px;
}
@media (max-width: 576px) {
  .map-section .location-section .map-name .location-name {
    padding: 5px 57px 0 5px;
  }
}
.map-section .location-section .map-iframe,
.map-section .location-section .map-embed {
  height: 300px;
  background-color: #faf6f1;
  padding: 0 15px 15px;
}
.map-section .location-section .map-iframe iframe,
.map-section .location-section .map-iframe div,
.map-section .location-section .map-embed iframe,
.map-section .location-section .map-embed div {
  border-radius: 10px;
  border: 1px solid #eb8001;
  height: 100%;
  width: 100%;
}
@media (max-width: 576px) {
  .map-section .location-top-img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .address-text {
    font-size: 14px;
    line-height: 1.4;
  }
}
@media (max-width: 575px) {
  .vector-all {
    right: 0 !important;
  }
}
.vector-all.vector-1 {
  width: 70px;
  position: absolute;
  top: 40px;
  right: 40px;
}
@media (max-width: 575px) {
  .vector-all.vector-1 {
    width: 50px;
    top: 10px;
  }
}
.vector-all.vector-2 {
  width: 60px;
  position: absolute;
  top: 47px;
  right: 60px;
}
@media (max-width: 575px) {
  .vector-all.vector-2 {
    width: 50px;
  }
}
.vector-all.vector-3 {
  width: 90px;
  position: absolute;
  top: 10px;
  right: 30px;
}
@media (max-width: 575px) {
  .vector-all.vector-3 {
    top: 0;
    width: 70px;
  }
}
.vector-all.vector-4 {
  width: 110px;
  position: absolute;
  left: 30px;
  top: 10px;
}
@media (max-width: 575px) {
  .vector-all.vector-4 {
    width: 80px;
    right: 10px;
  }
}
.vector-all.vector-5 {
  position: absolute;
  width: 100px;
  top: 40px;
  left: 40px;
}
@media (max-width: 575px) {
  .vector-all.vector-5 {
    top: 10px;
    width: 60px;
  }
}
.vector-all.vector-6 {
  position: absolute;
  width: 90px;
  top: 25px;
  right: 40px;
}
@media (max-width: 575px) {
  .vector-all.vector-6 {
    width: 60px;
  }
}
.vector-all.vector-7 {
  position: absolute;
  top: 20px;
  height: 70px;
}
@media (max-width: 575px) {
  .vector-all.vector-7 {
    top: 0px !important;
  }
}
.vector-all.vector-8 {
  position: absolute;
  width: 60px;
  right: 40px;
  top: 20px;
}
@media (max-width: 575px) {
  .vector-all.vector-8 {
    width: 45px;
  }
}
.vector-all.vector-9 {
  position: absolute;
  width: 60px;
  left: 40px;
  top: 20px;
}
@media (max-width: 575px) {
  .vector-all.vector-9 {
    left: 0px;
    top: 0px;
  }
}

.bg-vector.bg-vector-1 {
  position: absolute;
  top: 0;
  left: 20px;
}
.bg-vector.bg-vector-1.end-20 {
  right: 20px;
  left: inherit;
}
.bg-vector.bg-vector-3 {
  width: 30px;
  top: 10px;
  left: 70px;
  opacity: 0.5;
}
.bg-vector.bg-vector-4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  width: 100px;
}
.bg-vector.bg-vector-5 {
  position: absolute;
  top: -95px;
  width: 100px;
  right: 0;
}
.bg-vector.bg-vector-6 {
  position: absolute;
  top: 50%;
  width: 100px;
  left: -40px;
  transform: translateY(-50%) rotate(-270deg);
}
.bg-vector.bg-vector-7 {
  position: absolute;
  width: 120px;
  top: -50px;
  left: -50px;
}
.bg-vector.bg-vector-8 {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-90deg);
}

.title-top-img {
  display: inline-block;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.title-bottom-img {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.custom-prev,
.custom-next {
  position: absolute;
  bottom: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #eb8001;
  border-radius: 50%;
  border: none;
  z-index: 1;
  border: 3px solid #fc9303;
}

/* Left button */
.custom-prev {
  right: 85px;
}

/* Right button */
.custom-next {
  right: 25px;
}

/* Arrow icon using CSS */
.custom-prev::before,
.custom-next::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  margin: auto;
  position: relative;
}

/* Rotate arrows */
.custom-prev::before {
  transform: rotate(135deg) translate(-50%, -50%);
  top: 4%;
  left: -6px;
}

.custom-next::before {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 4%;
  left: 22%;
}

.service-dot-img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}
.service-dot-img img {
  width: 30px;
  height: 100%;
}

.top-img {
  top: -4px;
  right: -4px;
}

.top-left-img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
}

.vcard-bg-img {
  background-image: url("/assets/img/vcard42/vcard-bg-img.png");
}

.bg-video {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.35;
}

.sound-toggle-btn {
  position: absolute;
  bottom: 10px;
  right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 575px) {
  .sound-toggle-btn {
    bottom: 8px;
    right: 5px;
    width: 30px;
    height: 30px;
  }
}

.youtube-link-42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.youtube-link-42 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

.dob-icon svg {
  width: 26px;
  height: 22px;
  color: #fff;
}

.pwa-support {
  width: 100%;
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  bottom: 20px;
  z-index: 99999 !important;
  background: #faf6f1;
  padding: 24px;
  border: 2px solid #eb8001;
  border-radius: 15px;
  box-shadow: none;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pwa-support .pwa-heading {
  font-size: 20px;
  margin-bottom: 12px;
  color: #151c21;
}
.pwa-support .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
  color: #151c21;
}

.pwa-install-button {
  background: #eb8001 !important;
  border-radius: 10px !important;
  padding: 9px 26px !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  color: #fff !important;
  border: 1px solid #eb8001 !important;
  transition: 0.4s;
}
.pwa-install-button:hover {
  background: #192f5d !important;
  color: #fff !important;
}

.pwa-cancel-button {
  background: #eb8001 !important;
  color: #fff !important;
  border-radius: 10px !important;
  padding: 9px 26px !important;
  border: 1px solid #eb8001 !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  transition: 0.4s;
}
.pwa-cancel-button:hover {
  background: #192f5d !important;
  color: #fff !important;
}

.vcard-one__product {
  background: #fff;
}
.vcard-one__product .product-card {
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #eb8001;
}
.vcard-one__product .product-card .card-body {
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #faf6f1;
  border: 1px solid #eb8001;
  text-align: center;
}

.product-heading {
  font-size: 28px !important;
  background: #192f5d !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.back-btn {
  padding: 12px 20px;
  border: 1px solid #eb8001;
  outline: none;
  background: #eb8001 !important;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600 !important;
  color: #fff !important;
}
.back-btn:hover {
  background: #192f5d !important;
  color: #fff !important;
}

.buy-product {
  padding: 12px 30px;
  background: #eb8001 !important;
  border: 1px solid #eb8001;
  outline: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 600 !important;
  color: #fff !important;
  white-space: nowrap;
}
.buy-product:hover {
  background: #192f5d !important;
  color: #fff !important;
}
@media (max-width: 575px) {
  .buy-product {
    padding: 10.5px 30px !important;
  }
}

.btn-product-enquiry {
  padding: 10.5px 30px;
  background: #eb8001 !important;
  border: 1px solid #eb8001;
  outline: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 600 !important;
  color: #fff !important;
  white-space: nowrap;
}
.btn-product-enquiry:hover {
  background: #192f5d !important;
  color: #fff !important;
}

.modal {
  z-index: 99999 !important;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal .modal-dialog {
  margin: 1.75rem auto;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: white;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 24px;
  text-align: center !important;
  color: #eb8001 !important;
  padding-top: 16px;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #eb8001;
  font-size: 23px;
  font-weight: 600 !important;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: gray;
  font-size: 16px;
  font-weight: 500 !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn {
  padding: 6px 10px !important;
  border-radius: 8px !important;
  background: #eb8001 !important;
  color: white !important;
  font-size: 15px;
  border: none;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn:focus {
  box-shadow: unset;
}
.modal .news-modal #newsLatter-content .modal-body .email-input:focus {
  box-shadow: unset;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700 !important;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  margin-top: 15px;
}
.modal .news-modal #newsLatter-content .modal-body .submit-btn {
  background: #eb8001;
  border: none;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.modal .news-modal #newsLatter-content .modal-body .submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#passwordModal {
  overflow-y: hidden;
}
#passwordModal .modal-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: #fff;
}
#passwordModal .modal-content .modal-header {
  padding: 1rem 1.75rem 0 1.75rem;
}
#passwordModal .modal-content .modal-header .modal-title {
  color: #192f5d;
  font-size: 23px;
  font-weight: 500 !important;
  text-align: center !important;
}
#passwordModal .modal-content .modal-body {
  padding: 1.75rem;
}
#passwordModal .modal-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
#passwordModal .modal-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
#passwordModal .modal-content .modal-body .submit-btn {
  background: #eb8001;
  border: none;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  margin: 20px auto 0;
}
#passwordModal .modal-content .modal-body .submit-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #eb8001;
}

#newsLatterModal .modal-dialog {
  margin: 1.75rem auto;
}

#passwordModal .modal-dialog {
  margin: 1.75rem auto;
}

#email-send {
  background: #eb8001 !important;
  color: #fff !important;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}
#email-send:focus {
  box-shadow: unset;
}

.vcard-fortytwo-heading {
  color: #192f5d !important;
}

.vcard-fortytwo-btn {
  padding: 10px 20px;
  border: 1px solid #eb8001;
  outline: none;
  background: #eb8001 !important;
  color: #fff !important;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500 !important;
}
.vcard-fortytwo-btn:hover {
  background: #192f5d !important;
  color: #fff !important;
}

.vcard-fortytwo-btn {
  position: relative;
  z-index: 999;
  pointer-events: auto;
}

.vcard-fortytwo.vcard-main-content {
  min-height: calc(100vh - 8px);
}
.vcard-fortytwo.vcard-main-content .card-back {
  border: 1px solid #eb8001;
  background-color: #faf6f1;
}

.support-banner-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 99999 !important;
  pointer-events: none;
}
.support-banner-container .support-banner {
  width: 100%;
  max-width: 606px;
  height: auto !important;
  background: #ffffff !important;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #eb8001;
  border-radius: 20px;
  box-shadow: none;
  margin: 0 auto;
  pointer-events: auto;
  position: relative;
}
.support-banner-container .support-banner .support_heading {
  font-size: 27px;
  margin-top: 30px;
  color: #122533;
}
.support-banner-container .support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow: auto !important;
  margin-top: 13px;
}

.act-now {
  padding: 10px 21px;
  background: #eb8001;
  border: 1px solid #eb8001;
  outline: none;
  transition: all 0.3s ease;
  transform: translateY(0);
  text-decoration: none;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 10px;
  font-weight: 500 !important;
  color: #fff !important;
}
.act-now:hover {
  background-color: #192f5d !important;
  color: #fff !important;
}

.banner-close {
  position: absolute;
  top: 10px !important;
  right: 15px !important;
  font-size: 20px !important;
  color: #122533;
  background: none;
  border: none;
  cursor: pointer;
}

.sticky-btn .fixed-sticky #social-menu {
  top: -70px;
  right: 80px;
  animation: opacity-show 0.4s ease-in-out alternate;
}
.sticky-btn .fixed-sticky #social-menu a {
  background-color: #eb8001 !important;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border: 0;
  border-radius: 50%;
}
.sticky-btn .fixed-sticky #social-menu a svg {
  width: 20px;
}
.sticky-btn .fixed-sticky #social-menu a svg path {
  fill: #fff;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.btn-section .fixed-btn-section .architect-bars-btn {
  background-color: #eb8001 !important;
}
.btn-section .fixed-btn-section .sub-btn .architect-sub-btn {
  background-color: #192f5d !important;
  border: 1px solid #eb8001 !important;
}
.btn-section .fixed-btn-section .sub-btn .architect-sub-btn i {
  color: #eb8001 !important;
}

.vcard42-btn-group {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  color: #fff;
  background-color: #eb8001 !important;
  border-radius: 50px !important;
  border: none !important;
}
.vcard42-btn-group .no-hover:hover {
  color: inherit !important;
}

.share-wp-btn {
  background-color: #eb8001 !important;
  border: none !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  color: #fff !important;
  text-decoration: none !important;
}
.share-wp-btn i {
  color: #fff !important;
}

.rtl {
  direction: rtl;
}
.rtl .title-line.left-line {
  left: auto;
  right: 0;
}
.rtl .title-line.right-line {
  right: auto;
  left: 0;
}
.rtl .slick-slider {
  direction: ltr;
}
.rtl .language ul .lang-list .lang-hover-list {
  right: auto !important;
  left: 0 !important;
}
.rtl .btn-section {
  right: auto !important;
  left: 75px !important;
}
.rtl .btn-section .vcard-bars-btn-left {
  width: auto !important;
}
.rtl .btn-section .sub-btn-div-left {
  width: auto !important;
  right: auto !important;
  left: 150px !important;
}
.rtl .icon-search-container {
  direction: ltr;
}
.rtl .icon-search-container.active .wp-btn {
  position: absolute;
  right: 5px;
  left: auto;
  top: 5px;
}
.rtl .icon-search-container.active .search-input {
  right: 50px;
  left: auto;
  text-align: right;
}
.rtl .icon-search-container.active .share-wp-btn-div {
  right: auto;
  left: 5px;
}
.rtl .icon-search-container .wp-btn {
  position: absolute;
  right: 0;
  left: auto;
}
.rtl .location-name {
  padding: 5px 0 5px 83px !important;
}
@media (max-width: 576px) {
  .rtl .location-name {
    padding: 5px 0 57px 5px !important;
  }
}
