@font-face {
  font-family: "Tangerine";
  src: url("/assets/fonts/Tangerine-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangerine";
  src: url("/assets/fonts/Tangerine-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  font-family: "Mulish";
}

.btn-wrapper {
  position: relative;
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.btn-wrapper::before {
  position: absolute;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(140deg, #e5b230, #e5be94, #e3c881, #ffec88, #e3c881, #e5be94, #e5b230);
}

.button-primary {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B);
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
  transition: background 0.2s ease-in-out;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  box-shadow: none !important;
}
.button-primary:hover {
  background: linear-gradient(335deg, #AC5FA2, #89438D, #50286B);
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}

.text-gray {
  color: #5c5c5c !important;
}

h1 {
  color: #6c367c;
  font-family: "Tangerine";
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 575px) {
  h1 {
    font-size: 42px;
  }
}

.section-heading {
  color: #6c367c;
  font-size: 44px;
  font-weight: 700;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  font-family: "Tangerine";
}
@media (max-width: 575px) {
  .section-heading {
    font-size: 38px;
  }
}

.slick-dots {
  position: inherit;
  bottom: auto;
}
.slick-dots li {
  margin: 0 10px;
  height: 10px;
  width: 10px;
}
.slick-dots li button {
  height: 10px;
  width: 10px;
}
.slick-dots li button:before {
  content: "";
  height: 10px;
  width: 10px;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 50%;
  opacity: 50%;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
}

.slick-slide {
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

input:focus,
.form-control:focus {
  box-shadow: none;
}

.text-primary {
  color: #6c367c !important;
}

a {
  text-decoration: none;
}

.row-gap-15 {
  row-gap: 15px;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-40 {
  row-gap: 40px;
}

ul li {
  list-style-type: none;
}

.fs-40 {
  font-size: 40px;
}
@media (max-width: 575px) {
  .fs-40 {
    font-size: 36px;
  }
}

.fs-22 {
  font-size: 22px;
}
@media (max-width: 575px) {
  .fs-22 {
    font-size: 20px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 575px) {
  .fs-20 {
    font-size: 18px;
  }
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
@media (max-width: 575px) {
  .px-20 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 575px) {
  .px-60 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pt-50 {
  padding-top: 50px;
}
@media (max-width: 575px) {
  .pt-50 {
    padding-top: 40px;
  }
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.slide-banner-arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}
.slide-banner-arrow button {
  background: #6c367c;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  color: #6c367c;
  border: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.pwa-support {
  width: 100%;
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  bottom: 20px;
  z-index: 99999 !important;
  background: #ffffff;
  padding: 24px;
  border: 2px solid #dcb8a2;
  border-radius: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pwa-support .pwa-heading {
  font-size: 35px;
  margin-bottom: 12px;
  color: #6c367c;
}
.pwa-support .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
  color: #6c367c;
}

.pwa-install-button {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 10px !important;
  padding: 9px 26px !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  color: #ffffff !important;
  border: 1px solid #6c367c !important;
}
.pwa-install-button:hover {
  background: linear-gradient(335deg, #ae7756 -17%, #6c367c, #321f42) !important;
}

.pwa-cancel-button {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 10px !important;
  padding: 9px 26px !important;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  color: #ffffff !important;
  border: 1px solid #6c367c !important;
}
.pwa-cancel-button:hover {
  background: linear-gradient(335deg, #ae7756 -17%, #6c367c, #321f42) !important;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 3px 9px;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border: 1px solid #dcb8a2;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  position: relative;
}
.language ul .lang-list .lang-head {
  color: #ffffff !important;
}
.language ul .lang-list .lang-head i {
  color: #ffffff !important;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 14px;
  width: 100%;
  right: 0;
  min-width: 70px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 4px 10px;
}
.language ul .lang-list .lang-hover-list li:hover, .language ul .lang-list .lang-hover-list li.active {
  background-color: #fcebe9 !important;
}
.language ul .lang-list .lang-hover-list li:hover a, .language ul .lang-list .lang-hover-list li.active a {
  color: #6c367c !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #5e6278 !important;
  text-decoration: none;
  font-size: 14px !important;
}
.language ul .lang-list .lang-hover-list li img {
  height: 14px !important;
  width: 18px !important;
}
.language ul .lang-list:hover .dropdown-menu {
  display: block !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.privacy-main-content {
  max-width: 670px;
  margin: 0 auto;
  position: relative;
  background-image: url("/assets/img/vcard41/bg.png");
  background-size: cover;
  background-position: top;
}

.main-content {
  max-width: 670px;
  margin: 4px auto;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.main-content.rtl .profile-section .profile-top-section .profile {
  left: auto !important;
}
@media (min-width: 576px) {
  .main-content.rtl .profile-section .profile-top-section .text-sm-start {
    text-align: right !important;
  }
}
.main-content.rtl .profile-section .profile-top-section .profile-name {
  padding: 16px 88px 16px 16px !important;
  margin-left: initial !important;
  margin-right: auto !important;
}
@media (max-width: 575px) {
  .main-content.rtl .profile-section .profile-top-section .profile-name {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center !important;
  }
}
.main-content.rtl .profile-section .profile-top-section .top-right {
  right: auto !important;
  left: -100px !important;
  transform: scaleX(-1);
}
@media (max-width: 575px) {
  .main-content.rtl .profile-section .profile-top-section .top-right {
    right: auto !important;
    left: -50px !important;
  }
}
.main-content.rtl .product-section .product-slider .product-card .product-content .card-title {
  text-align: right !important;
}
.main-content {
  z-index: 99;
}
.main-content .-z-1 {
  z-index: -1 !important;
}
.main-content .perfume-vcard {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  top: 0;
  background-image: url("/assets/img/vcard41/bg.png");
  background-size: cover;
  background-position: top;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.main-content .banner-section {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.main-content .banner-section .banner-img {
  width: 100%;
  height: 340px;
  overflow: hidden;
}
@media (max-width: 575px) {
  .main-content .banner-section .banner-img {
    height: 300px;
  }
}
.main-content .banner-section .banner-img img {
  aspect-ratio: 1.97058;
}
.main-content .banner-section .banner-img .cover-video {
  display: block;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .profile-section .profile-top-section .profile {
  height: 144px;
  width: 144px;
  border-radius: 50%;
  min-width: 144px;
  border: 2px solid #dcb8a2;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 11;
  padding: 3px;
}
@media (max-width: 575px) {
  .main-content .profile-section .profile-top-section .profile {
    position: inherit;
    transform: translateY(0);
  }
}
.main-content .profile-section .profile-top-section .profile h1 {
  color: #523a65;
}
.main-content .profile-section .profile-top-section .profile-name {
  min-height: 136px;
  position: relative;
  z-index: 1;
  background-color: #fcebe9;
  border: 2px solid #dcb8a2;
  padding: 16px 16px 16px 88px !important;
  border-radius: 15px;
  width: calc(100% - 70px);
  margin-left: auto;
  box-shadow: rgba(140, 99, 189, 0.3) 0px 4px 15px;
}
@media (max-width: 575px) {
  .main-content .profile-section .profile-top-section .profile-name {
    width: 100%;
    padding-left: 10px !important;
    text-align: center;
  }
}
.main-content .profile-section .profile-top-section .profile-name .sub-text {
  color: #d1ab6b;
}
.main-content .profile-section .profile-top-section .top-right {
  width: 230px;
  position: absolute;
  top: -30px;
  right: -100px;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 575px) {
  .main-content .profile-section .profile-top-section .top-right {
    width: 160px;
    top: 110px;
    right: -50px;
  }
}
.main-content .profile-section .border-bottom-img {
  margin-top: -140px;
}
.main-content .social-icons-section ul {
  gap: 16px;
}
.main-content .social-icons-section ul li {
  position: relative;
  padding: 3px;
}
.main-content .social-icons-section ul li::after {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(140deg, #e5b230, #e5be94, #e3c881, #ffec88, #e3c881, #e5be94, #e5b230);
}
.main-content .social-icons-section ul li a {
  width: 48px;
  min-width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 575px) {
  .main-content .social-icons-section ul li a {
    height: 40px;
    width: 40px;
    min-width: 40px;
  }
}
.main-content .social-icons-section ul li a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.main-content .social-icons-section ul li a:hover::before {
  animation: circle 0.75s;
}
.main-content .social-icons-section ul li a svg {
  height: 22px;
  color: #fcebe9;
}
.main-content .section-heading {
  position: relative;
  text-transform: capitalize;
}
.main-content .section-heading img {
  width: 119px;
  height: 100%;
}
@media (max-width: 575px) {
  .main-content .section-heading img {
    width: 60px;
  }
}
.main-content .section-heading .right-img {
  transform: scaleX(-1);
}
.main-content .contact-section .contact-box {
  padding: 25px 16px 8px 16px;
  border-radius: 100px;
  border: 1px solid #dcb8a2;
  position: relative;
  background-color: #fcebe9;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}
.main-content .contact-section .contact-box .social-img {
  width: 47px;
  min-width: 47px;
  height: 47px;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}
.main-content .contact-section .contact-box .social-img .image {
  width: 43px;
  min-width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}
.main-content .contact-section .contact-box .social-img::before {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(140deg, #e5b230, #e5be94, #e3c881, #ffec88, #e3c881, #e5be94, #e5b230);
}
.main-content .contact-section .contact-box .contact-name {
  text-align: center;
  width: 100%;
  word-break: break-word;
}
.main-content .contact-section .contact-box a {
  color: #6c367c;
}
.main-content .gallery-section .gallery-slider {
  position: relative;
}
.main-content .gallery-section .gallery-slider .gallery-box {
  height: 300px;
  min-height: 300px;
  border-radius: 15px;
  padding: 2px;
  position: relative;
  overflow: hidden;
}
.main-content .gallery-section .gallery-slider .gallery-box::after {
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(140deg, #e5b230, #e5be94, #e3c881, #ffec88, #e3c881, #e5be94, #e5b230);
}
.main-content .gallery-section .gallery-slider .gallery-box a {
  position: relative;
  z-index: 2;
  border-radius: 15px;
  overflow: hidden;
  background: #fcebe9;
  display: flex;
  width: 100%;
  height: 100%;
}
.main-content .gallery-section .gallery-slider .gallery-box a img {
  border-radius: 13px;
}
.main-content .gallery-section .gallery-slider .gallery-box iframe {
  height: 100% !important;
  border-radius: 12px;
}
.main-content .gallery-section .gallery-slider .gallery-box .gallery-file-link {
  width: 100%;
  height: 100%;
  display: block;
}
.main-content .gallery-section .gallery-slider .gallery-box .gallery-file-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .gallery-section .gallery-slider .gallery-box .audio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.main-content .gallery-section .gallery-slider .gallery-box .audio-container .audio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0;
}
.main-content .gallery-section .gallery-slider .gallery-box .audio-container audio {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  z-index: 2;
}
.main-content .gallery-section .gallery-slider .gallery-box .audio-container:fullscreen {
  padding: 15% !important;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-slider .gallery-box .audio-container:fullscreen {
    padding: 20px !important;
    flex-direction: column;
  }
}
.main-content .gallery-section .gallery-slider .gallery-box .audio-container:fullscreen .audio-image {
  border-radius: 12px;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-slider .gallery-box .audio-container:fullscreen .audio-image {
    height: 350px;
  }
}
.main-content .gallery-section .gallery-slider .gallery-box .audio-container:fullscreen audio {
  bottom: 28%;
  min-width: 45%;
}
@media (max-width: 575px) {
  .main-content .gallery-section .gallery-slider .gallery-box .audio-container:fullscreen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
}
.main-content .gallery-section .gallery-slider .gallery-box .expand-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border: 1px solid #dcb8a2;
  width: 43px;
  min-width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 3;
}
.main-content .gallery-section .gallery-slider .slick-slide > div {
  overflow: hidden;
  border-radius: 10px;
}
.main-content .gallery-section .gallery-slider .custom-arrow {
  background-color: #836b91;
  border: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main-content .gallery-section .gallery-slider .custom-arrow.custom-prev {
  left: -20px;
}
.main-content .gallery-section .gallery-slider .custom-arrow.custom-next {
  right: -20px;
}
.main-content .gallery-section .gallery-filter-nav {
  padding: 0 10px;
}
.main-content .gallery-section .gallery-filter-btn {
  border: 1px solid #6c367c;
  background-color: #ffffff;
  color: #6c367c;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s ease;
}
.main-content .gallery-section .gallery-filter-btn.active {
  background: #6c367c;
  border-color: #6c367c;
  color: #ffffff;
}
.main-content .gallery-section .gallery-filter-panel {
  display: none;
}
.main-content .gallery-section .gallery-filter-panel.active {
  display: block;
}
.main-content .service-section {
  position: relative;
}
.main-content .service-section .row {
  display: flex;
  flex-wrap: wrap;
}
.main-content .service-section .row .col-sm-6 {
  display: flex;
}
.main-content .service-section .row .col-sm-6 .service-card {
  width: 100%;
}
.main-content .service-section .service-slider .slick-track {
  display: flex !important;
}
.main-content .service-section .service-slider .slick-slide {
  height: inherit !important;
}
.main-content .service-section .service-slider .slick-slide > div {
  height: 100%;
}
.main-content .service-section .service-slider .service-card {
  height: 100%;
}
.main-content .service-section .service-card {
  display: flex;
  flex-direction: column;
  background-color: #fcebe9;
  border-radius: 12px;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  position: relative;
  overflow: hidden;
}
.main-content .service-section .service-card .service-img {
  min-height: 200px;
  height: 200px;
  border-bottom: 1px solid #dcb8a2;
  overflow: hidden;
}
.main-content .service-section .service-card .service-content {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  min-height: 247px;
  position: relative;
  overflow: hidden;
}
.main-content .service-section .service-card .service-content .card-title {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  font-size: 18px;
  color: #6c367c;
}
.main-content .service-section .service-card .service-content .description-text {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 63px;
  padding: 0 30px;
}
.main-content .appointment-section .appointment-card {
  background: #fcf3f1;
  padding: 14px;
  border-radius: 12px;
}
.main-content .appointment-section .appointment-card .appointment-content {
  position: relative;
  z-index: 1;
}
.main-content .appointment-section .appointment-card .input-group-date {
  border: 1px solid #dcb8a2;
  border-radius: 12px;
  overflow: hidden;
  background: #fcebe9;
  padding: 12px 15px;
}
.main-content .appointment-section .appointment-card .input-group-date:focus-within {
  border: 1px solid #dcb8a2;
  box-shadow: none;
}
.main-content .appointment-section .appointment-card .input-group-date .appoint-input {
  border: none !important;
  background: transparent !important;
  padding: 0;
  font-size: 16px;
  color: #6c367c;
  cursor: pointer;
}
.main-content .appointment-section .appointment-card .input-group-date .appoint-input::-moz-placeholder {
  color: #6c367c;
}
.main-content .appointment-section .appointment-card .input-group-date .appoint-input::placeholder {
  color: #6c367c;
}
.main-content .appointment-section .appointment-card .input-group-date .appoint-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.main-content .appointment-section .appointment-card .input-group-date .appoint-input::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  border: none;
}
.main-content .appointment-section .appointment-card .input-group-date .calender-icon {
  pointer-events: none;
  line-height: 0;
}
.main-content .appointment-section .appointment-card .input-group-date .calender-icon svg {
  width: 24px;
  height: 24px;
  fill: #6c367c;
}
.main-content .appointment-section .appointment-card .input-group-date .calender-icon svg path {
  fill: #6c367c;
  stroke: #6c367c;
}
.main-content .appointment-section .appointment-card .card-flower {
  position: absolute;
  z-index: 0;
}
.main-content .appointment-section .appointment-card .card-flower.flower-left {
  width: 7%;
  bottom: 0px;
  left: 0px;
}
.main-content .appointment-section .appointment-card .card-flower.flower-right {
  width: 11%;
  bottom: -7px;
  right: -4px;
  transform: scaleX(-1);
}
.main-content .appointment-section .appointment-card .card-flower img {
  width: 100%;
  height: 100%;
}
.main-content .appointment-section .appointment-card .time-select .time-slot {
  background: #fcebe9;
  border: 1px solid #dcb8a2;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c367c;
  text-decoration: none;
}
.main-content .appointment-section .appointment-card .time-select .time-slot.activeSlot {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  color: #ffffff;
}
.main-content .appointment-section .appointment-card .timePick {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}
.main-content .w-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}
.main-content .product-section .product-slider .slick-track {
  display: flex !important;
}
.main-content .product-section .product-slider .slick-slide {
  height: inherit !important;
}
.main-content .product-section .product-slider .slick-slide > div {
  height: 100%;
}
.main-content .product-section .product-slider .product-card {
  background-color: #fcebe9;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: #fcebe9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 369px;
}
.main-content .product-section .product-slider .product-card a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-content .product-section .product-slider .product-card .product-img {
  height: 190px;
  min-height: 190px;
  border-bottom: 1px solid #dcb8a2;
}
.main-content .product-section .product-slider .product-card .product-content {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  min-height: 178px;
  position: relative;
  color: #6c367c;
  overflow: hidden;
}
@media (max-width: 575px) {
  .main-content .product-section .product-slider .product-card .product-content {
    min-height: 152px;
  }
}
.main-content .product-section .product-slider .product-card .product-content .enquiry-btn {
  z-index: 1;
}
.main-content .product-section .product-slider .product-card .product-content .card-title {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  font-size: 18px;
  text-align: left;
  color: #6c367c;
}
.main-content .product-section .product-slider .product-card .product-content .price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  color: #6c367c;
  max-width: 146px;
  display: block;
}
.main-content .product-section .view-all {
  padding: 10px 20px;
  position: relative;
}
.main-content .product-section .view-all .right-arrow-animation {
  animation: right-arrow 1s linear 1s infinite alternate;
}
.main-content .product-section .product-bottom-img {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 375px) {
  .main-content .product-section .product-bottom-img {
    bottom: -20px;
  }
}
.main-content .whatsapp-store-section .whatsapp-store-slider .slick-track {
  display: flex !important;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .slick-slide {
  height: inherit !important;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .slick-slide > div {
  height: 100%;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  background-color: #fcebe9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card .product-img {
  height: 190px;
  min-height: 190px;
  border-bottom: 1px solid #dcb8a2;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card .product-img img {
  border-radius: 12px 12px 0 0;
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card .product-content {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  min-height: 124px;
  position: relative;
  color: #6c367c;
  overflow: hidden;
}
@media (max-width: 575px) {
  .main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card .product-content {
    min-height: 152px;
  }
}
.main-content .whatsapp-store-section .whatsapp-store-slider .whatsapp-store-card .product-content .card-title {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  min-height: 44px;
  overflow: hidden;
  font-size: 18px;
  text-align: left;
  color: #6c367c;
}
.main-content .whatsapp-store-section .card-wrapper::before {
  z-index: -1;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  min-width: 110px;
  border: 3px solid #6c367c;
  overflow: hidden;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg {
  background-color: #fcebe9;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 50px;
  border-radius: 12px;
  overflow: hidden;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg .image-testi {
  width: 90px;
  position: absolute;
  top: -61px;
  right: -19px;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card p {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 16px;
  min-height: 72px;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-desc {
  position: relative;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card h6 {
  color: #6c367c;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-family: "Tangerine";
  font-size: 30px;
  line-height: normal;
  margin-top: 2px;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .quote-img {
  width: 40px;
  position: absolute;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .quote-img.quote-left {
  top: 10px;
  left: 20px;
}
.main-content .testmonial-section .testmonial-slider .testimonial-card .quote-img.quote-right {
  bottom: 10px;
  right: 20px;
}
@media (max-width: 575px) {
  .main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-img {
    height: 80px;
    width: 80px;
    min-width: 80px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg {
    padding: 40px 20px 20px 20px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg .image-testi {
    width: 70px;
    top: -45px;
    right: -10px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg p {
    min-height: auto;
    margin-bottom: 10px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .testimonial-bg h6 {
    font-size: 30px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .quote-img {
    width: 30px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .quote-img.quote-left {
    top: 10px;
    left: 10px;
  }
  .main-content .testmonial-section .testmonial-slider .testimonial-card .quote-img.quote-right {
    bottom: 10px;
    right: 40px;
  }
}
.main-content .insta-feed iframe {
  border: 2px solid #6c367c !important;
  overflow: hidden;
  margin-bottom: 0 !important;
  border-radius: 15px !important;
}
.main-content .insta-feed {
  max-height: 1000px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.main-content .insta-feed::-webkit-scrollbar {
  width: 0px;
}
.main-content .insta-feed::-webkit-scrollbar-thumb {
  background-color: #f1faff !important;
}
.main-content .insta-feed::-webkit-scrollbar-track {
  background-color: #f1faff !important;
}
.main-content .instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.main-content .instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #6c367c !important;
  transition: width 0.3s ease;
}
.main-content .instagram-btn.active::before {
  width: 80%;
}
.main-content .instagram-btn .svg-post-icon rect,
.main-content .instagram-btn .svg-post-icon line {
  stroke: #6c367c !important;
}
.main-content .instagram-btn.active .svg-post-icon rect, .main-content .instagram-btn.active .svg-post-icon line {
  fill: #6c367c !important;
  stroke: #f7e9e7 !important;
}
.main-content .instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.main-content .instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.main-content .instagram-btn .svg-reels-icon path.not-active-svg,
.main-content .instagram-btn .svg-reels-icon rect {
  fill: #6c367c !important;
}
.main-content .instagram-btn .svg-reels-icon path {
  fill: #6c367c !important;
}
.main-content .instagram-btn.active .svg-reels-icon .not-active-svg, .main-content .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.main-content .instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}
.main-content .insta-toggle {
  border-radius: 35px !important;
  transition: all 0.3s ease !important;
}
.main-content #instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}
.main-content .instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
  border-radius: 15px !important;
  border: 1px solid #6c367c !important;
  box-shadow: none !important;
}
.main-content .linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.main-content .linkedin-feed-iframe {
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}
.main-content .linkedin-feed-iframe iframe {
  width: calc(100% - 2px) !important;
  height: 500px !important;
  transform-origin: top left;
  transform: scale(1);
  margin-bottom: 0px !important;
  overflow: hidden;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #6c367c !important;
  -o-border-image: initial !important;
     border-image: initial !important;
  border-radius: 15px !important;
}
.main-content .blog-section .blog-slider .blog-card {
  background-color: #fcebe9;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.main-content .blog-section .blog-slider .blog-card .blog-img {
  height: 300px;
  display: block;
  border-bottom: 1px solid #dcb8a2;
}
.main-content .blog-section .blog-slider .blog-card .blog-content {
  background-color: #fcebe9;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 20px;
  min-height: 258px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.main-content .blog-section .blog-slider .blog-card .blog-content h3 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 48px;
  color: #6c367c;
}
.main-content .blog-section .blog-slider .blog-card .blog-content p {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  min-height: 72px;
  color: #5c5c5c !important;
}
.main-content .blog-rtl .ms-auto {
  margin-right: auto !important;
}
.main-content .blog-rtl .me-0 {
  margin-left: 0 !important;
}
.main-content .business-hour-section .business-cards {
  margin-top: 40px;
}
.main-content .business-hour-section .business-cards .business-box {
  padding: 24px 6px 6px 6px;
  border-radius: 15px;
  border: 1px solid #dcb8a2;
  position: relative;
  background-color: #fcebe9;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content .business-hour-section .business-cards .business-box .calender-img {
  position: absolute;
  height: 42px;
  width: 42px;
  min-width: 42px;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
}
.main-content .business-hour-section .business-cards .business-box .calender-img::before {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(140deg, #e5b230, #e5be94, #e3c881, #ffec88, #e3c881, #e5be94, #e5b230);
}
.main-content .business-hour-section .business-cards .business-box .calender-img .image {
  width: 38px;
  min-width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}
.main-content .qr-code-section .qr-code-box {
  border-radius: 15px;
  padding: 15px;
  background-color: #fcebe9;
}
.main-content .qr-code-section .qr-code-box .qr-img {
  border: 2px solid #dcb8a2;
  border-radius: 10px;
  padding: 8px;
  width: 110px;
  height: 110px;
  min-width: 110px;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B);
}
.main-content .iframe-section .iframe-slider .iframe-box {
  min-height: 350px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fcebe9;
  position: relative;
}
.main-content .iframe-section .iframe-slider .iframe-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.main-content .payment-link-section .payment-link-slider .slick-track {
  display: flex;
  align-items: stretch;
}
.main-content .payment-link-section .payment-link-slider .slick-slide {
  height: auto;
}
.main-content .payment-link-section .payment-link-slider .slick-slide > div {
  height: 100%;
}
.main-content .payment-link-section .payment-link-slider .slide {
  height: 100%;
}
.main-content .payment-link-section .pl-strip {
  display: flex;
  align-items: center;
  background: #fcebe9;
  border-radius: 12px;
  padding: 10px 14px;
  transition: all 0.3s ease;
  min-height: 112px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main-content .payment-link-section .pl-strip-icon {
  flex-shrink: 0;
  background: #fcebe9;
  border: 1px solid #dcb8a2;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .payment-link-section .pl-strip-icon img {
  height: 65px;
  width: 46px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-content .payment-link-section .pl-strip-content {
  flex-grow: 1;
  padding: 0 14px;
  min-width: 0;
}
.main-content .payment-link-section .pl-strip-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #6c367c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .payment-link-section .pl-strip-desc {
  font-size: 13px;
  color: #6c367c;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.4;
  max-height: 5.6em;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.main-content .payment-link-section .pl-strip-action {
  flex-shrink: 0;
}
.main-content .payment-link-section .link-icon-btn svg {
  width: 15px;
  height: 16px;
}
.main-content .payment-link-section .pl-strip-content-img {
  max-width: 65px;
  max-height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .contact-us-section .contact-form {
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
  background-color: #fcf3f1;
}
.main-content .contact-us-section .contact-form form input:not([type=checkbox]),
.main-content .contact-us-section .contact-form form textarea,
.main-content .contact-us-section .contact-form form .upload-file {
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  background: #f8eaea;
  color: #6c367c;
  overflow: hidden;
  position: relative;
  border: 1px solid #dcb8a2 !important;
  outline: none !important;
  box-shadow: none !important;
}
.main-content .contact-us-section .contact-form form input:not([type=checkbox])::-moz-placeholder, .main-content .contact-us-section .contact-form form textarea::-moz-placeholder, .main-content .contact-us-section .contact-form form .upload-file::-moz-placeholder {
  color: #6c367c;
}
.main-content .contact-us-section .contact-form form input:not([type=checkbox])::placeholder,
.main-content .contact-us-section .contact-form form textarea::placeholder,
.main-content .contact-us-section .contact-form form .upload-file::placeholder {
  color: #6c367c;
}
.main-content .contact-us-section .contact-form form .upload-file svg {
  width: 16px;
  color: #ffffff;
}
.main-content .contact-us-section .contact-form form .upload-file input {
  position: relative;
  z-index: 9;
}
.main-content .contact-us-section .contact-form form .upload-file .cstm-file-upload {
  background: #fcebe9;
  color: #6c367c;
  cursor: pointer;
  overflow: hidden;
}
.main-content .contact-us-section .form-check-input[type=checkbox] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  min-width: 16px;
  padding: 0;
}
.main-content .create-your-vcard .cart {
  border: 1px solid #6c367c;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.main-content .create-your-vcard .create-vcard {
  padding: 10px;
  background: #fcebe9;
  border-radius: 10px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-content .map-section .location-section {
  background-color: #fcf3f1;
  padding: 10px;
  border-radius: 12px;
}
.main-content .map-section .location-section .location-img {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B);
  border: 1px solid #dcb8a2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.main-content .map-section .location-section .location-name {
  background: #fcebe9;
  border: 1px solid #dcb8a2;
  padding: 4px 12px;
  border-radius: 10px;
}
.main-content .map-section .location-section .map-iframe {
  height: 300px;
}
.main-content .map-section .location-section .map-iframe iframe {
  border-radius: 12px;
}
.main-content .map-section .location-section .map-iframe, .main-content .map-section .location-section .embed-responsive {
  border: 1px solid #dcb8a2 !important;
  border-radius: 12px;
  overflow: hidden;
}
.main-content .sticky-btn .fixed-sticky #social-menu {
  top: -70px;
  right: 80px;
  animation: opacity-show 0.4s ease-in-out alternate;
}
.main-content .sticky-btn .fixed-sticky #social-menu a {
  background-color: #cfb88d !important;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border: 0;
  border-radius: 50%;
}
.main-content .sticky-btn .fixed-sticky #social-menu a svg {
  width: 20px;
}
.main-content .sticky-btn .fixed-sticky #social-menu a svg path {
  fill: #ffffff;
}
.main-content .btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}
.main-content .btn-section .fixed-btn-section .perfume-bars-btn {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border: 2px solid #dcb8a2;
}
.main-content .vcard41-btn-group {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  color: #fcebe9;
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border-radius: 50px !important;
  border: none !important;
}
.main-content .vcard41-btn-group .no-hover:hover {
  color: inherit !important;
}
.main-content .vcard41-sticky-btn {
  border: 2px solid #dcb8a2 !important;
}
.main-content .share-wp-btn {
  background-color: #6c367c !important;
  border: none !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  color: #ffffff !important;
  text-decoration: none !important;
}
.main-content .share-wp-btn i {
  color: #ffffff !important;
}
.main-content .sticky-vcard-div {
  z-index: 9;
  bottom: 60px;
  position: fixed;
  left: 0;
}

@keyframes right-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.service-bottom-img {
  width: 45px;
  position: absolute;
  bottom: 10px;
  transform: scaleX(-1);
  right: -4px;
}

.top-right-img {
  position: absolute;
  width: 50px;
  top: -5px;
  right: 15px;
  transform: scaleX(-1) rotate(25deg);
  z-index: 0;
}

.card-vector-img {
  width: 180px;
  max-height: 30px;
  overflow: hidden;
  margin: 0 auto;
}

.bottom-img {
  left: -4px;
  bottom: 0;
  transform: scaleX(1);
}

.left-testimonial-img {
  width: 90px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  transform: scaleX(-1);
}

.modal {
  z-index: 99999 !important;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal .modal-dialog {
  margin: 1.75rem auto;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
  border-radius: 8px !important;
  border: 1px solid #dcb8a2 !important;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  outline: 0;
  background-color: #fcebe9;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 40px;
  text-align: center !important;
  color: #6c367c !important;
  padding-top: 16px;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #cfb88d;
  font-size: 23px;
  font-weight: 600 !important;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: #20232b;
  font-size: 16px;
  font-weight: 500 !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input:focus {
  box-shadow: unset;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700 !important;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  margin-top: 15px;
}
.modal .news-modal #newsLatter-content .modal-body .submit-btn {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B);
  border: none;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.modal .news-modal #newsLatter-content .modal-body .submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#passwordModal {
  overflow-y: hidden;
}
#passwordModal .modal-content {
  border-radius: 0.475rem;
  border: 2px solid #dcb8a2;
  outline: 0;
  background-color: #ffffff;
}
#passwordModal .modal-content .modal-header {
  padding: 1rem 1.75rem 0 1.75rem;
}
#passwordModal .modal-content .modal-header .modal-title {
  color: #6c367c;
  font-size: 40px;
  font-weight: 600 !important;
  text-align: center !important;
  font-family: "Tangerine";
}
#passwordModal .modal-content .modal-body {
  padding: 1.75rem;
}
#passwordModal .modal-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
#passwordModal .modal-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
#passwordModal .modal-content .modal-body .submit-btn {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B) !important;
  border: 2.5px solid #e4c18e;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#passwordModal .modal-content .modal-body .submit-btn:hover {
  background: linear-gradient(335deg, #AC5FA2, #89438D, #50286B) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#newsLatterModal .modal-dialog {
  margin: 1.75rem auto;
}

#passwordModal .modal-dialog {
  margin: 1.75rem auto;
}

.vcard-fortyone-heading {
  color: #6c367c !important;
  font-family: "Tangerine";
  font-size: 45px;
}

.sound-toggle-btn {
  position: absolute;
  top: 298px;
  right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 575px) {
  .sound-toggle-btn {
    top: 265px;
    right: 5px;
    width: 30px;
    height: 30px;
  }
}

.youtube-link-41 {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}
.youtube-link-41 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  height: 100% !important;
  width: 100 !important;
}

@keyframes right-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.wrapper-file-section .selected-files {
  margin-top: 15px;
}
.wrapper-file-section .selected-files h6 {
  color: #1d263b;
  margin-bottom: 10px;
  font-weight: 500;
}
.wrapper-file-section .selected-files .file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper-file-section .selected-files .file-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  background-color: #f8eaea;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #6c367c;
}
.wrapper-file-section .selected-files .file-list li .name {
  flex: 1;
  color: #1d263b;
  font-size: 14px;
  margin-right: 15px;
  word-break: break-all;
}
.wrapper-file-section .selected-files .file-list li .remove {
  cursor: pointer;
  color: #dc3545;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.support-banner-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 99999 !important;
  pointer-events: none;
}
.support-banner-container .card-wrapper {
  display: flex;
  align-items: center;
  max-width: 606px;
  justify-content: center;
  margin: 0 auto;
}
.support-banner-container .support-banner {
  width: 100%;
  max-width: 606px;
  height: auto !important;
  background: #fcebe9 !important;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 0 auto;
  pointer-events: auto;
  position: relative;
}
.support-banner-container .support-banner .support_heading {
  color: #6c367c;
  font-family: "Tangerine";
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
}
.support-banner-container .support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow: auto !important;
  margin-top: 13px;
}

.dob-icon svg {
  width: 26px;
  height: 22px;
  color: #e1bf85;
}

.banner-close {
  position: absolute;
  top: 10px !important;
  right: 15px !important;
  font-size: 20px !important;
  color: #6c367c;
  background: none;
  border: none;
  cursor: pointer;
}

.product-body {
  background: #fff;
}

.vcard-one__product {
  background-image: url("/assets/img/vcard41/bg.png");
  background-size: cover;
  background-position: top;
}
.vcard-one__product .title-section {
  background-color: #fcf3f1;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #dcb8a2;
}
.vcard-one__product .product-card {
  padding: 10px;
  background: #fcf3f1;
  border-radius: 12px;
}
.vcard-one__product .product-card .card-body {
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #fcebe9;
  border: 1px solid #dcb8a2;
  text-align: center;
}

.product-heading {
  font-size: 24px !important;
  color: #6c367c !important;
}

.bg-animation-vcard41 {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.bg-animation-vcard41 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-wrapper {
  position: relative;
  padding: 2px;
  overflow: hidden;
}
.card-wrapper::before {
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(140deg, #e5b230, #e5be94, #e3c881, #ffec88, #e3c881, #e5be94, #e5b230);
}

.vcard-fortyone.privacy-main-content {
  max-width: 670px !important;
  min-height: calc(100vh - 8px) !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  border-radius: 15px !important;
}
.vcard-fortyone.privacy-main-content .btn-wrapper {
  padding-bottom: 2px !important;
}
.vcard-fortyone.privacy-main-content .vcard-fortyone-btn {
  background: linear-gradient(160deg, #AC5FA2, #89438D, #50286B);
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
  transition: background 0.2s ease-in-out;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  box-shadow: none !important;
}
.vcard-fortyone.privacy-main-content .vcard-fortyone-btn:hover {
  background: linear-gradient(335deg, #AC5FA2, #89438D, #50286B);
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}
.vcard-fortyone.privacy-main-content .card-wrapper .card.m-3 {
  margin: 0 !important;
  border: none !important;
  background-color: #fcf3f1 !important;
  border-radius: 12px !important;
}
