.text-gradient {
  display: inline-block;
  background: linear-gradient(to right, #f6a932, #ff5a0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary {
  background-color: #ff5a0e !important;
}

.bg-gray-300 {
  background-color: #234748 !important;
}

.bg-gray {
  background-color: #f1f1f1 !important;
}

.text-gray-100 {
  color: #a9afb8 !important;
}

.text-primary-200 {
  color: #ff5a0e !important;
}

.text-primary {
  color: #ff5a0e !important;
}

.text-dark {
  color: #414141 !important;
}

.btn-primary {
  background-color: #ff5a0e !important;
  border: 1px solid #ff5a0e !important;
  color: #ffffff !important;
  border-radius: 10px 10px 0 10px !important;
  padding: 7px 28px !important;
  transition: all 0.3s ease-in;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #ffffff !important;
  color: #ff5a0e !important;
}

@media (max-width: 425px) {
  .enquiry-btn {
    width: 100%;
    margin-top: 4px;
  }
}
.enquiry-btn .btn-primary-enquiry {
  background-color: #ff5a0e !important;
  border: 1px solid #ff5a0e !important;
  color: #ffffff !important;
  border-radius: 10px 10px 0 10px !important;
  padding: 6px 20px !important;
  transition: all 0.3s ease-in;
}
.enquiry-btn .btn-primary-enquiry:hover, .enquiry-btn .btn-primary-enquiry:focus {
  background-color: #ffffff !important;
  color: #ff5a0e !important;
}
@media (max-width: 425px) {
  .enquiry-btn .btn-primary-enquiry {
    width: 100%;
  }
}

.btn-wp-visit-store {
  background-color: #ff5a0e !important;
  border: 1px solid #ff5a0e !important;
  color: #ffffff !important;
  border-radius: 10px 10px 0 10px !important;
  padding: 6px 20px !important;
  transition: all 0.3s ease-in;
}
.btn-wp-visit-store:hover, .btn-wp-visit-store:focus {
  background-color: #ffffff !important;
  color: #ff5a0e !important;
}
@media (max-width: 425px) {
  .btn-wp-visit-store {
    width: 100%;
  }
}

.btn-product-enquiry {
  background-color: #ff5a0e !important;
  border: 1px solid #ff5a0e !important;
  color: #ffffff !important;
  border-radius: 10px 10px 0 10px !important;
  padding: 7px 28px !important;
  transition: all 0.3s ease-in;
}
.btn-product-enquiry:hover, .btn-product-enquiry:focus {
  background-color: #ffffff !important;
  color: #ff5a0e !important;
}

@font-face {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Merienda-Bold.ttf?76d9f2307e1f47336045f2f72f069f08) format("truetype");
  font-display: swap;
}
body {
  font-family: "Poppins";
  font-weight: 400 !important;
  padding-right: 0 !important;
  color: #414141;
  background-color: #ffcdad !important;
  height: auto !important;
}
body.modal-open {
  padding-right: 0 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.btn {
  border-radius: 0;
  padding: 13px 40px;
}
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-gradient {
  color: black !important;
  background: linear-gradient(45deg, #f6895e, #f79b64, #f7ad68);
  border: none;
  height: 40px;
  border: 1px solid #b1360363;
}
.btn-gradient:hover, .btn-gradient:focus, .btn-gradient.active {
  background: linear-gradient(302deg, #f6895e, #f79b64, #f7ad68);
}

h2 {
  font-size: 30px;
  font-weight: 100;
}
@media (max-width: 575px) {
  h2 {
    font-size: 25px;
  }
}

.main-content {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  max-width: 670px !important;
  margin-top: 4px;
  margin-bottom: 4px;
}

.main-section {
  background-image: url(/assets/img/vcard14/section-bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px 0;
  transition: all 0.3s ease-in;
}
.main-section:hover {
  transform: translateY(-5px);
}

.banner-section .banner-img {
  height: 320px;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .banner-section .banner-img {
    height: 280px;
  }
}

.profile-section {
  position: relative;
}
.profile-section .profile-bg {
  position: absolute;
  top: 0;
  right: 0;
}
.profile-section .card {
  background: transparent;
  border: 1px solid #f57f21;
  border-radius: 30px 30px 0 30px;
  padding: 16px;
}
@media (max-width: 576px) {
  .profile-section .card {
    gap: 10px;
  }
}
.profile-section .card .card-img {
  width: 130px !important;
  height: 130px !important;
  aspect-ratio: 1;
  border-radius: 20px 20px 0 20px;
  overflow: hidden;
  border: 2px solid #ff5a0e;
}
@media (max-width: 576px) {
  .profile-section .card .card-img {
    width: 100px !important;
    height: 100px !important;
  }
}

.social-media {
  position: relative;
}
.social-media .social-media-bg {
  background-color: rgba(40, 44, 50, 0.5);
}
.social-media .social-icon {
  width: 25px;
  min-width: 25px;
  height: 25px;
  margin: 0px 20px;
}
@media (max-width: 425px) {
  .social-media .social-icon {
    width: 22px;
    min-width: 22px;
    height: 22px;
    margin: 0px 16px;
  }
}

.section-heading {
  position: relative;
  margin: 0 auto 40px auto;
  text-align: center;
}
.section-heading h2 {
  font-size: 28px;
  z-index: 1;
  position: relative;
  font-family: "Merienda";
  font-style: normal;
  display: inline-block;
  font-weight: 700 !important;
}
@media (max-width: 575px) {
  .section-heading h2 {
    font-size: 25px;
  }
}
.section-heading h2::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  background: #ff5a0e;
}

.contact-section .contact-box {
  padding: 10px;
  align-items: center;
  gap: 12px;
  border-radius: 15px 15px 0 15px;
  background: #ffcdad;
  border: 1px solid #f55a0f;
  position: relative;
  height: 100%;
}
.contact-section .contact-box .contact-icon {
  width: 42px;
  min-width: 42px;
  height: 42px;
  background: white;
  border: 1px solid #ff5a0e;
  border-radius: 12px 12px 0 12px;
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  margin: auto;
}
.contact-section .contact-box .contact-icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-section .contact-box .contact-desc {
  margin-top: 15px;
  text-align: center;
}
.contact-section .contact-box .contact-desc p {
  font-size: 16px;
  color: #414141;
}
.contact-section .contact-box .contact-desc a {
  font-size: 16px !important;
  word-break: break-word !important;
  display: block;
  color: #414141;
}

.our-services-section .center-heading h2::before {
  display: none;
}
.our-services-section .services {
  position: relative;
  z-index: 2;
}
.our-services-section .services .service-card {
  border-radius: 20px 20px 0 20px;
  padding: 15px;
  border: 1px solid #282c32 !important;
  box-shadow: 0 0px 5px #0000001a;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.our-services-section .services .service-card .card-img {
  width: 100%;
  height: 176px;
  border-radius: 12px;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #282c32;
}
.our-services-section .services .service-card .card-img a {
  width: 100%;
  height: 100%;
  display: block;
}
.our-services-section .services .service-card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-services-section .services .service-card .card-title {
  font-size: 18px;
}
.our-services-section .services .service-card .description-text {
  font-size: 14px;
}
.our-services-section .services .services-slider-view .slick-slide {
  padding: 0px 10px;
}
.our-services-section .services .services-slider-view .service-card .card-title {
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 44px;
  font-size: 18px;
}
.our-services-section .services .services-slider-view .service-card .description-text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 63px;
}
.our-services-section .services .services-slider-view .service-card .card-body {
  min-height: 185px;
}
.our-services-section .services .slick-dots {
  bottom: -35px !important;
}

.appointment-section .appointment-card {
  border-radius: 20px 20px 0 20px;
  border: 1px solid #282c32 !important;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.appointment-section .appointment-card .appointment-input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #282c32;
  background-color: #0e0802;
}
.appointment-section .appointment-card .appointment-input::-moz-placeholder {
  color: #a9afb8;
}
.appointment-section .appointment-card .appointment-input::placeholder {
  color: #a9afb8;
}
.appointment-section .appointment-card .appointment-input:focus {
  outline: none;
}
.appointment-section .appointment-card .appoint-input {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding: 10px 4px;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #282c32;
  background-color: #0f0a04;
}
.appointment-section .appointment-card .appoint-input::-moz-placeholder {
  color: #a9afb8;
}
.appointment-section .appointment-card .appoint-input::placeholder {
  color: #a9afb8;
}
.appointment-section .appointment-card .appoint-input:focus {
  outline: none;
}
.appointment-section .appointment-card .calendar-icon {
  position: absolute;
  right: 18px;
  top: 11px;
}
.appointment-section .appointment-card .activeSlot {
  border-color: #ff5a0e !important;
  color: #ff5a0e !important;
  cursor: pointer !important;
}

.center-heading h2 {
  position: relative;
  display: inline-block;
}
.center-heading h2:before, .center-heading h2:after {
  content: "";
  position: absolute;
  top: 0;
  width: 200px;
  height: 35px;
  background-color: rgba(40, 44, 50, 0.5);
}
.center-heading h2:before {
  right: 100%;
  margin-right: 40px;
}
@media (max-width: 575px) {
  .center-heading h2:before {
    margin-right: 30px;
  }
}
.center-heading h2:after {
  left: 100%;
  margin-left: 40px;
}
@media (max-width: 575px) {
  .center-heading h2:after {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .gallery-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.gallery-section .gallery-slider {
  position: relative;
}
.gallery-section .gallery-slider .gallery-img,
.gallery-section .gallery-slider .gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 20px;
}
.gallery-section .gallery-slider .gallery-file-item {
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery-section .gallery-slider .slick-slide {
  padding: 0px 10px;
}
.gallery-section .gallery-slider .gallery-img {
  border-radius: 20px 20px 0 20px;
  position: relative;
  margin: 0 auto;
  max-height: 282px;
  height: 282px;
  aspect-ratio: 2;
  overflow: hidden;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid #ff5a0e !important;
  position: relative;
}
.gallery-section .gallery-slider .gallery-img .expand-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f55a0f;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 480px) {
  .gallery-section .gallery-slider .gallery-img {
    height: 240px;
  }
}
.gallery-section .gallery-slider .gallery-img img,
.gallery-section .gallery-slider .gallery-img iframe {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.gallery-section .gallery-slider .gallery-img .audio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.gallery-section .gallery-slider .gallery-img .audio-container .audio-image {
  width: 100%;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0;
}
.gallery-section .gallery-slider .gallery-img .audio-container audio {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  z-index: 2;
}
.gallery-section .gallery-slider .gallery-img .audio-container:-webkit-full-screen {
  padding: 15% !important;
}
.gallery-section .gallery-slider .gallery-img .audio-container:fullscreen {
  padding: 15% !important;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img .audio-container:-webkit-full-screen {
    padding: 20px !important;
    flex-direction: column;
  }
  .gallery-section .gallery-slider .gallery-img .audio-container:fullscreen {
    padding: 20px !important;
    flex-direction: column;
  }
}
.gallery-section .gallery-slider .gallery-img .audio-container:-webkit-full-screen .audio-image {
  border-radius: 12px;
}
.gallery-section .gallery-slider .gallery-img .audio-container:fullscreen .audio-image {
  border-radius: 12px;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img .audio-container:-webkit-full-screen .audio-image {
    height: 350px;
  }
  .gallery-section .gallery-slider .gallery-img .audio-container:fullscreen .audio-image {
    height: 350px;
  }
}
.gallery-section .gallery-slider .gallery-img .audio-container:-webkit-full-screen audio {
  bottom: calc(15% + 13%);
  min-width: 45%;
}
.gallery-section .gallery-slider .gallery-img .audio-container:fullscreen audio {
  bottom: calc(15% + 13%);
  min-width: 45%;
}
@media (max-width: 575px) {
  .gallery-section .gallery-slider .gallery-img .audio-container:-webkit-full-screen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
  .gallery-section .gallery-slider .gallery-img .audio-container:fullscreen audio {
    position: static;
    transform: none;
    width: 90%;
    margin-top: -70px;
  }
}
.gallery-section .gallery-filter-nav {
  padding: 0 10px;
}
.gallery-section .gallery-filter-btn {
  border: 1px solid #ff5a0e;
  background-color: #ffffff;
  color: #ff5a0e;
  border-radius: 15px 15px 0 15px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s ease;
}
.gallery-section .gallery-filter-btn.active {
  background-color: #ff5a0e;
  border-color: #ff5a0e;
  color: #ffffff;
}
.gallery-section .gallery-filter-panel {
  display: none;
}
.gallery-section .gallery-filter-panel.active {
  display: block;
}

.video-container {
  height: 280px;
}

.product-section .product-slider .slick-slide {
  padding: 0 10px;
}
.product-section .product-slider .product-card {
  border-radius: 20px 20px 0 20px;
  padding: 15px;
  border: 1px solid #282c32 !important;
  box-shadow: 0 0px 5px #0000001a;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.product-section .product-slider .product-card .product-img {
  width: 100%;
  height: 176px;
  border-radius: 12px;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #282c32;
}
.product-section .product-slider .product-card .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .product-slider .product-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-section .product-slider .product-card .product-title h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 44px;
  font-size: 18px;
  font-weight: 500;
}
.product-section .product-slider .product-card .product-amount {
  overflow: hidden;
}
.product-section .product-slider .product-card .product-amount span {
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 22px;
  line-height: 1.25;
  color: #414141;
  font-weight: 600;
  padding-right: 7px;
  text-align: start;
  width: 100%;
}
@media (max-width: 425px) {
  .product-section .product-slider .product-card .product-amount span {
    text-align: center;
    width: 100%;
  }
}
.product-section .product-slider .product-card .product-desc {
  padding: 10px 0 0 0;
  min-height: 108px;
}
@media (max-width: 425px) {
  .product-section .product-slider .product-card .product-desc {
    min-height: 146px;
  }
}
.product-section .product-slider .product-card .product-desc .product-info {
  flex-direction: row;
  align-items: center;
}
@media (max-width: 425px) {
  .product-section .product-slider .product-card .product-desc .product-info {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.product-section .product-slider .product-card .product-desc .product-info > a {
  overflow: hidden;
}

.whatsapp-store-product-section .whatsapp-store-slider .slick-slide {
  padding: 0 10px;
}
.whatsapp-store-product-section .whatsapp-store-slider .whatsapp-store-box {
  border-radius: 20px 20px 0 20px;
  padding: 15px;
  border: 1px solid #282c32 !important;
  box-shadow: 0 0px 5px #0000001a;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.whatsapp-store-product-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-img {
  width: 100%;
  height: 176px;
  border-radius: 12px;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #282c32;
}
.whatsapp-store-product-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.whatsapp-store-product-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-name h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 44px;
  font-size: 18px;
  font-weight: 500;
}
.whatsapp-store-product-section .whatsapp-store-slider .whatsapp-store-box .whatsapp-store-content {
  padding: 10px 0 0 0;
  min-height: 108px;
}

.testimonial-section .testimonial-slider .slick-slide {
  padding: 15px 10px;
}
.testimonial-section .testimonial-slider .testimonial-next-arrow {
  right: -20px;
}
@media (max-width: 767px) {
  .testimonial-section .testimonial-slider .testimonial-next-arrow {
    right: 20px;
  }
}
.testimonial-section .testimonial-slider .testimonial-prev-arrow {
  left: -20px;
}
@media (max-width: 767px) {
  .testimonial-section .testimonial-slider .testimonial-prev-arrow {
    left: 20px;
  }
}
.testimonial-section .testimonial-slider .testimonial-card {
  padding: 20px 42px;
  border-radius: 20px 20px 0 20px;
  background-color: #ffcdad;
  border: 1px solid #eebea7 !important;
  box-shadow: 0 0px 5px #0000001a;
  font-size: 14px;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img {
  position: absolute;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img img {
  width: auto;
  height: 30px;
}
@media (max-width: 575px) {
  .testimonial-section .testimonial-slider .testimonial-card .quote-img img {
    height: 20px;
  }
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img.quote-left-img {
  top: -15px;
  left: 15px;
}
.testimonial-section .testimonial-slider .testimonial-card .quote-img.quote-right-img {
  bottom: -15px;
  right: 15px;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 84px;
  text-align: center;
  font-size: 14px;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body h6 {
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
}
.testimonial-section .testimonial-slider .testimonial-card .card-body .profile-img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 2px solid #ff5a0e;
}

@media (max-width: 575px) {
  .blog-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.blog-section .blog-slider .blog-card {
  max-width: 100%;
  width: 100%;
  border-radius: 20px 20px 0 20px;
  padding: 15px;
  border: 1px solid #282c32 !important;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.blog-section .blog-slider .blog-card a {
  display: block;
  width: 100%;
  height: 100%;
}
.blog-section .blog-slider .blog-card .card-img {
  border-radius: 15px;
  height: 280px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #282c32 !important;
}
.blog-section .blog-slider .blog-card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-section .blog-slider .blog-card .card-body {
  padding: 15px 0 0 0;
  min-height: 135px;
  max-height: 135px;
}
.blog-section .blog-slider .blog-card .card-body h5 {
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 48px;
}
.blog-section .blog-slider .blog-card .card-body .blog-desc {
  margin-bottom: 0 !important;
  display: -webkit-box;
  color: #a9afb8 !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 33px;
  line-height: 1.2;
  font-size: 14px;
}
.blog-section .slick-slide {
  padding: 0 10px;
}

.qr-code-section .qr-code {
  max-width: 550px;
  width: 100%;
  border-radius: 20px 20px 0 20px;
  padding: 20px;
  border: 1px solid #eebea7;
  background-color: #ffcdad;
}
.qr-code-section .qr-code .qr-code-img {
  width: 140px;
  height: 140px;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff5a0e;
  border-radius: 10px;
  padding: 8px;
  background: #ffffff;
}
.qr-code-section .qr-code .qr-code-img svg,
.qr-code-section .qr-code .qr-code-img img {
  border-radius: 6px;
}

.bussiness-hour-section .bussiness-hour-card .business-box {
  position: relative;
  padding: 10px;
  border-radius: 15px 15px 0 15px;
  background: #facdad;
  border: 1px solid #eebea7;
  margin-top: 20px;
}
.bussiness-hour-section .bussiness-hour-card .business-box .time-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  min-width: 42px;
  height: 42px;
  background: white;
  border: 1px solid #ff5a0e;
  border-radius: 12px 12px 0 12px;
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  margin: auto;
}

.payment-link-section .payment-link-slider .slick-track {
  display: flex;
  align-items: stretch;
}
.payment-link-section .payment-link-slider .slick-slide {
  height: auto;
}
.payment-link-section .payment-link-slider .slick-slide > div {
  height: 100%;
}
.payment-link-section .payment-link-slider .slide {
  height: 100%;
}
.payment-link-section .pl-strip {
  display: flex;
  align-items: center;
  background: #23211b;
  border-radius: 16px;
  padding: 10px 16px;
  transition: all 0.3s ease;
  min-height: 120px;
  height: 100%;
  border: 2px solid #282c32;
}
.payment-link-section .pl-strip-icon {
  flex-shrink: 0;
  background: #404043;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-link-section .pl-strip-icon img {
  height: 65px;
  width: 46px;
  -o-object-fit: contain;
     object-fit: contain;
}
.payment-link-section .pl-strip-content {
  flex-grow: 1;
  padding: 0 14px;
  min-width: 0;
}
.payment-link-section .pl-strip-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.payment-link-section .pl-strip-desc {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.4;
  max-height: calc(1.4em * 4);
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.payment-link-section .pl-strip-action {
  flex-shrink: 0;
}
.payment-link-section .pl-strip-btn {
  padding: 8px 18px;
  border-radius: 10px 10px 0 10px;
  background: #ff5a0e;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
.payment-link-section .pl-strip-btn:hover {
  background: #ffffff;
  color: #ff5a0e;
  border: 1px solid #ff5a0e;
}
.payment-link-section .pl-strip-badge {
  padding: 9px 13px 6px 17px;
  border-radius: 10px 10px 0 10px;
  background: #ff5a0e;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
.payment-link-section .pl-strip-badge:hover {
  background: #ffffff;
  color: #ff5a0e;
  border: 1px solid #ff5a0e;
}
.payment-link-section .link-icon-btn svg {
  width: 15px;
  height: 16px;
}
.payment-link-section .pl-strip-content-img {
  flex-shrink: 0;
  background: #404043;
  border-radius: 12px !important;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 65px;
  max-height: 89px;
  min-width: 65px;
  min-height: 89px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-us-section .contact-form {
  border-radius: 20px 20px 0 20px;
  border: 1px solid #282c32 !important;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.contact-us-section .contact-form form .form-control {
  margin-bottom: 20px;
  padding: 13px 16px;
  height: 50px;
  border-radius: 15px 15px 0 15px;
  color: #ffffff;
  border: 1px solid #282c32;
  background-color: #0e0802;
}
.contact-us-section .contact-form form .form-control::-moz-placeholder {
  color: #a9afb8;
}
.contact-us-section .contact-form form .form-control::placeholder {
  color: #a9afb8;
}
.contact-us-section .contact-form form .form-control:focus {
  outline: none;
  box-shadow: none;
}
.contact-us-section .contact-form form .btn-secondary {
  box-shadow: 0 10px 15px rgba(0, 32, 32, 0.2);
}
.contact-us-section .contact-form .form-check-input {
  min-width: 16px;
}

.create-vcard-section .vcard-link-card {
  padding: 15px;
  background: #facdad;
  border-radius: 15px 15px 0 15px;
  border: 1px solid #eebea7;
}
.create-vcard-section .vcard-link-card .link-text {
  font-size: 17px;
  word-break: break-all;
}
@media (max-width: 575px) {
  .create-vcard-section .vcard-link-card .link-text {
    font-size: 16px;
  }
}
.create-vcard-section .vcard-link-card .icon {
  background: linear-gradient(to right, #f6a932, #ff5a0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.share-icon {
  color: #f6a932;
}

.btn-section .fixed-btn-section .event-bars-btn {
  background-color: #ff5a0e;
}
.btn-section .fixed-btn-section .sub-btn .event-sub-btn {
  background-color: #ff5a0e;
  box-shadow: 0 10px 15px rgba(0, 32, 32, 0.2);
}

.slick-dots {
  bottom: -35px !important;
}
@media (max-width: 575px) {
  .slick-dots {
    bottom: -30px !important;
  }
}
.slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
}
.slick-dots li button:before {
  width: 10px;
  height: 10px;
  font-size: 0 !important;
  background-color: #dedede;
  border-radius: 3px 3px 0 3px;
  opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #ff5a0e;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 20px;
  border-radius: 50%;
  padding: 0px 0px 0px 4px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  transition: all 200ms;
}
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 16px solid #0e0802;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.vcard14-btn-group {
  width: 50px;
  height: 50px;
  color: #ffffff;
  border-radius: 50px !important;
}

.vcard14-sticky-btn {
  background: #f55a0f;
  color: #ff5a0e;
  height: 40px;
}

.social-icons {
  position: relative;
  gap: 14px;
}
@media (max-width: 576px) {
  .social-icons {
    gap: 10px;
  }
}
.social-icons a {
  width: 50px;
  height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: 0.3s all ease-in-out;
  border-radius: 12px 12px 0 12px;
  background-color: #ffcdad;
  border: 1px solid #282c32;
}
.social-icons a:hover, .social-icons a:focus {
  background-color: #1b1a1a;
}
.social-icons a:hover svg,
.social-icons a:hover img, .social-icons a:focus svg,
.social-icons a:focus img {
  color: #ff5a0e !important;
  transition: 0.3s all ease-in-out;
}
.social-icons a:hover svg path,
.social-icons a:hover img path, .social-icons a:focus svg path,
.social-icons a:focus img path {
  fill: #ff5a0e !important;
}
.social-icons a img,
.social-icons a svg {
  transition: 0.3s all ease-in-out;
  width: 38px;
  height: 24px;
}
.social-icons a img path,
.social-icons a svg path {
  fill: #ff5a0e;
}

.vcard-fourteen.main-content {
  max-width: 670px;
  min-height: calc(100vh - 8px);
  background-image: url(/assets/img/vcard14/section-bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.vcard-fourteen .section-heading h2 {
  font-size: 24px !important;
}
.vcard-fourteen .vcard-fourteen-heading {
  font-weight: 500;
  font-size: 24px !important;
  color: #ff5a0e !important;
}
.vcard-fourteen .card-back {
  border: 1px solid #282c32 !important;
  background-color: #292d3380;
  color: white !important;
}
.vcard-fourteen .card-back .h2,
.vcard-fourteen .card-back h2,
.vcard-fourteen .card-back .h1,
.vcard-fourteen .card-back h1 {
  color: white !important;
}
.vcard-fourteen .product-amount {
  color: #414141 !important;
}
.vcard-fourteen .product-card {
  border-radius: 20px 20px 0 20px;
  padding: 15px;
  border: 1px solid #282c32 !important;
  background-color: #292d3380;
  box-shadow: none;
}

.vcard-fourteen-btn {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ff5a0e !important;
  border: 1px solid #ff5a0e !important;
  color: #ffffff !important;
  outline: none;
  border-radius: 10px 10px 0 10px !important;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.vcard-fourteen-btn:hover {
  background-color: #ffffff !important;
  color: #ff5a0e !important;
}

.language ul {
  list-style: none;
}
.language ul .lang-list {
  padding: 3px 9px;
  background: #ff5a0e;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}
.language ul .lang-list .lang-head {
  color: #ffffff;
}
.language ul .lang-list .lang-head i {
  color: #ffffff;
}
.language ul .lang-list .lang-hover-list {
  margin: 15px 0 0;
  font-size: 14px;
  width: 100%;
  right: 0;
  min-width: 70px;
}
.language ul .lang-list .lang-hover-list li {
  padding: 4px 8px;
}
.language ul .lang-list .lang-hover-list li:hover, .language ul .lang-list .lang-hover-list li.active {
  background-color: #ffe5d8 !important;
}
.language ul .lang-list .lang-hover-list li:hover a, .language ul .lang-list .lang-hover-list li.active a {
  color: #ff5a0e !important;
}
.language ul .lang-list .lang-hover-list li a {
  color: #414141 !important;
  text-decoration: none;
}
.language ul .lang-list .lang-hover-list li img {
  height: 14px !important;
  width: 18px !important;
}

.add-to-contact-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  z-index: 9;
}

.modal-backdrop {
  background-color: transparent;
}

.add-contact-btn {
  background-color: #ff5a0e;
  border-radius: 15px 15px 0 15px !important;
  border: 1px solid #ff5a0e;
  color: #ffffff !important;
  padding: 14px 28px;
  transition: all 0.3s ease-in;
}
.add-contact-btn i {
  font-size: 20px;
}
.add-contact-btn svg {
  height: auto !important;
  width: 20px;
}
.add-contact-btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}

.fs-12 {
  font-size: 12px;
}

.product-btn {
  padding: 10px 20px;
  background: linear-gradient(to right, #f6a932, #ff5a0e);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.product-btn:hover {
  background-color: rgba(255, 90, 14, 0.9);
}

.product-page-card {
  max-width: 100% !important;
  width: 75%;
}
@media (max-width: 575px) {
  .product-page-card {
    width: 100%;
  }
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  z-index: 99999 !important;
  background-color: #00000080;
}
.modal .news-modal #newsLatter-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.475rem;
  outline: 0;
  background-color: white;
}
.modal .news-modal #newsLatter-content .form-control {
  padding: 0.375rem 0.75rem !important;
  font-size: 0.875rem !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .btn-close {
  position: absolute !important;
  right: 16px !important;
  top: 16px !important;
  z-index: 1 !important;
}
.modal .news-modal #newsLatter-content .newsmodal-header .newsmodal-title {
  font-size: 50px;
  text-align: center !important;
  color: #ff5a0e;
}
.modal .news-modal #newsLatter-content .modal-body {
  padding: 1.75rem;
}
.modal .news-modal #newsLatter-content .modal-body .content {
  color: #ff5a0e;
  font-size: 23px;
}
.modal .news-modal #newsLatter-content .modal-body .modal-desc {
  color: silver;
  font-size: 16px;
  font-weight: 400;
}
.modal .news-modal #newsLatter-content .modal-body .email-input {
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .email-input .btn {
  padding: 5px 10px !important;
  border-radius: 8px !important;
}
.modal .news-modal #newsLatter-content .modal-body .required:after {
  color: #f62947;
  content: "*";
  font-size: inherit;
  font-weight: 700;
  position: relative;
}
.modal .news-modal #newsLatter-content .modal-body .input-box {
  background-color: #f5f8fa;
  border: unset;
  color: #5e6278;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
}
.modal .news-modal #newsLatter-content .modal-body .input-box:focus {
  box-shadow: unset;
  background-color: #eef3f7;
}
.modal .news-modal #newsLatter-content .modal-body .input-group {
  margin-top: 15px;
}
.modal .news-modal #newsLatter-content .modal-footer {
  padding: 1.875rem;
  border-top: none !important;
}
.modal .news-modal #newsLatter-content .modal-footer .btn {
  padding: 10px 20px !important;
  border-radius: 0.475rem !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn {
  background-color: #6571ff !important;
  border: unset;
  outline: unset;
  color: #ffffff;
  padding: 10px 20px !important;
  margin-top: 26px;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:hover {
  background-color: #6571ff !important;
}
.modal .news-modal #newsLatter-content .modal-footer .submit-btn:focus {
  box-shadow: unset;
}

#email-send {
  background: linear-gradient(to right, #f6a932, #ff5a0e);
  color: white !important;
  font-size: 15px;
  border: none;
  border-radius: 8px !important;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.insta-feed {
  max-height: 1000px !important;
  overflow: auto !important;
}

.insta-feed::-webkit-scrollbar {
  width: 0px;
  /* Adjust the width as needed */
}

.insta-feed-iframe iframe {
  border-radius: 15px !important;
  border: none !important;
  margin-bottom: 0 !important;
}

.instagram-btn {
  flex: 1;
  position: relative;
  background: transparent;
}
.instagram-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background-color: #ff5a0e;
  transition: width 0.3s ease;
}
.instagram-btn.active::before {
  width: 80%;
}
.instagram-btn .svg-post-icon rect,
.instagram-btn .svg-post-icon line {
  stroke: #ffffff;
}
.instagram-btn.active .svg-post-icon rect, .instagram-btn.active .svg-post-icon line {
  fill: transparent;
  stroke: #ff5a0e;
}
.instagram-btn .svg-reels-icon .not-active-svg {
  display: block;
}
.instagram-btn .svg-reels-icon .active-svg {
  display: none;
}
.instagram-btn .svg-reels-icon path.not-active-svg,
.instagram-btn .svg-reels-icon rect {
  fill: #ffffff;
}
.instagram-btn .svg-reels-icon path {
  fill: #ff5a0e;
}
.instagram-btn.active .svg-reels-icon .not-active-svg, .instagram-btn.active .svg-reels-icon rect {
  display: none;
}
.instagram-btn.active .svg-reels-icon .active-svg {
  display: block;
}

.insta-toggle {
  border-radius: 35px !important;
  transition: all 0.3s ease !important;
}

#instafeed-container a img {
  width: 44%;
  height: 200px !important;
  margin: 11px;
  border-radius: 15px;
}

.instagram-media {
  min-width: 50% !important;
  max-width: 100% !important;
  border: 1px solid #f55a0f !important;
  box-shadow: none !important;
  border-radius: 15px 15px 0 15px !important;
  background-color: #292d3380 !important;
  -webkit-backdrop-filter: blur(5px) !important;
          backdrop-filter: blur(5px) !important;
}

.iframe-body {
  height: 340px !important;
  width: 100% !important;
  display: block;
}

.support-banner {
  width: 100%;
  max-width: 606px;
  height: auto !important;
  position: fixed;
  bottom: 20px;
  z-index: 99999 !important;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px 20px 0 20px;
  background: #0f0a04;
  border: 1px solid #282c32;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.support-banner .support_heading {
  font-size: 27px;
  margin-top: 30px;
}
.support-banner .support_text {
  margin-bottom: 22px;
  max-height: 123px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 13px;
}
.support-banner .support_text::-webkit-scrollbar {
  width: 4px;
}
.support-banner .support_text::-webkit-scrollbar-track {
  background: transparent;
}
.support-banner .support_text::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 767px) {
  .support-banner {
    max-width: 476px !important;
  }
}
@media (max-width: 575px) {
  .support-banner {
    max-width: 100% !important;
  }
}
.act-now {
  padding: 7px 21px;
  color: #ffffff;
  background-color: #ff5a0e;
  border: 1px solid #ff5a0e;
  outline: none;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  text-decoration: none;
  position: relative;
  bottom: 10px;
  display: inline-block !important;
  border-radius: 10px 10px 0 10px;
}
.act-now:hover {
  background-color: white !important;
  color: #ff5a0e !important;
}

.banner-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px !important;
  background: none;
  border: none;
}

.iframe-slider {
  margin-left: -10px;
  margin-right: -10px;
}
.iframe-slider .slick-slide {
  padding: 0 10px;
}
.iframe-slider .slick-arrow {
  position: absolute;
  z-index: 2;
  top: 42%;
  opacity: 1 !important;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: none;
  background-image: linear-gradient(to right, #f6a932, #ff5a0e);
  color: #ffffff;
}
.iframe-slider .slick-arrow.slick-disabled {
  background-image: none;
  background-color: rgba(169, 175, 184, 0.5);
}
@media (max-width: 575px) {
  .iframe-slider .slick-arrow {
    display: none;
  }
}
.iframe-slider .iframe-next-arrow {
  right: -20px;
}
@media (max-width: 767px) {
  .iframe-slider .iframe-next-arrow {
    right: 20px;
  }
}
.iframe-slider .iframe-prev-arrow {
  left: -20px;
}
@media (max-width: 767px) {
  .iframe-slider .iframe-prev-arrow {
    left: 20px;
  }
}

.dob-icon svg {
  width: 20px;
  height: 20px;
  color: #ff5a0e;
}

.verification-icon {
  color: #ff5a0e;
}

.main-content.rtl .expand-icon {
  left: 10px;
  right: auto;
}
.main-content.rtl .vector-main-1 {
  left: 0;
  right: auto;
  transform: scaleX(-1);
}
.main-content.rtl .slick-dots li button:before {
  border-radius: 3px 3px 3px 0px !important;
}
.main-content.rtl .lang-hover-list {
  left: 0 !important;
  right: auto;
}
.main-content.rtl .vcard-fourteen-btn {
  border-radius: 5px 5px 5px 0px !important;
}
.main-content.rtl .profile-section .card {
  border-radius: 30px 30px 30px 0px !important;
}
.main-content.rtl .profile-section .card .card-img {
  border-radius: 20px 20px 20px 0px !important;
}
.main-content.rtl .act-now,
.main-content.rtl .btn-primary,
.main-content.rtl .pwa-cancel-button,
.main-content.rtl .pwa-install-button {
  border-radius: 10px 10px 10px 0px !important;
}
.main-content.rtl .social-icons a {
  border-radius: 12px 12px 12px 0px !important;
}
.main-content.rtl .contact-icon,
.main-content.rtl .time-icons {
  border-radius: 12px 12px 12px 0px !important;
}
.main-content.rtl .contact-box,
.main-content.rtl .business-box,
.main-content.rtl .iframe-card-box,
.main-content.rtl .vcard-link-card,
.main-content.rtl .input-box,
.main-content.rtl .add-contact-btn {
  border-radius: 15px 15px 15px 0px !important;
}
.main-content.rtl .contact-form .form-control {
  border-radius: 15px 15px 15px 0px !important;
}
.main-content.rtl .gallery-img,
.main-content.rtl .contact-form,
.main-content.rtl .service-card,
.main-content.rtl .qr-code,
.main-content.rtl .product-card,
.main-content.rtl .testimonial-card,
.main-content.rtl .appointment-card,
.main-content.rtl .blog-card,
.main-content.rtl .pwa-support,
.main-content.rtl .support-banner {
  border-radius: 20px 20px 20px 0px !important;
}
.main-content.rtl .lang-hover-list {
  left: 0;
  right: auto;
}
.main-content.rtl .ms-3 {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}
.main-content.rtl .calendar-icon {
  left: 18px;
  right: auto;
}
.main-content.rtl .text-start {
  text-align: right !important;
}
@media (min-width: 576px) {
  .main-content.rtl .text-sm-start {
    text-align: right !important;
  }
}
.main-content.rtl .text-end {
  text-align: left !important;
}

.profile-section .card[dir=rtl] .card-img {
  margin-right: 0;
  margin-left: 40px;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.btn-section.rtl {
  right: auto !important;
  left: 15px !important;
}

.modal-content[dir=rtl] .pl-50 {
  padding-right: 50px;
}
.modal-content[dir=rtl] .text-center {
  text-align: start !important;
}
.modal-content[dir=rtl] .arrow {
  transform: rotate(180deg) !important;
}
.modal-content[dir=rtl] .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0.313rem !important;
  border-bottom-right-radius: 0.313rem !important;
}
.modal-content[dir=rtl] .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0.313rem !important;
  border-bottom-left-radius: 0.313rem !important;
}

.toast-title {
  margin-right: 12px;
}

.toast-message {
  margin-right: 12px;
}

.input-box {
  padding: 16px;
  display: grid;
  place-items: center;
  border-radius: 15px 15px 0 15px;
  color: #414141;
  background: #0f0a04;
  border: 1px solid #282c32;
  margin-bottom: 5px;
  cursor: pointer;
}

.input-box h4 {
  margin: 0;
  color: #a9afb8 !important;
  font-size: medium !important;
}

.file-list li {
  color: #abb1bd !important;
  background-color: #0e0a04 !important;
}

.selected-files .item {
  border: 1px solid #373a41 !important;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.file-list .name {
  flex-grow: 1;
}

.file-list .remove {
  margin-left: 8px;
  cursor: pointer;
  color: red;
}

.file-list .remove svg {
  width: 16px;
  height: 16px;
}

.selected-files h5 {
  color: #ffffff !important;
  font-size: medium !important;
  margin-top: 9px !important;
  margin-bottom: 12px !important;
}

small {
  font-size: 12px;
}

.file-list {
  overflow-y: auto;
  list-style-type: none !important;
  padding: 0 0 10px 0;
  margin: 0;
  max-height: 220px;
  font-size: medium !important;
}

.modal {
  padding-right: 0 !important;
}
.modal.show {
  padding-right: 0 !important;
}
.modal.show .modal-dialog {
  transform: translateY(35px) !important;
}
@media (min-width: 576px) {
  .modal.show .modal-dialog {
    margin: 2.5rem auto !important;
    max-width: 520px !important;
  }
}
.modal .modal-dialog {
  transform: translateY(95px) !important;
}
.modal .modal-dialog.modal-bottom {
  height: 87vh !important;
}

@media (min-width: 576px) {
  #newsLatterModal .modal-dialog {
    max-width: 420px !important;
    min-height: calc(100% - 5rem) !important;
    transform: none !important;
  }
}

.product-img-slider .slick-dots {
  bottom: -25px !important;
}
.product-img-slider .slick-dots li {
  width: 10px !important;
  height: 10px !important;
}
.product-img-slider .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  padding: 0px !important;
}
.product-img-slider .slick-dots li button::before {
  width: 10px !important;
  height: 10px !important;
  padding: 0px !important;
}

.product-img-height {
  max-height: 208px;
  aspect-ratio: 2.98;
  min-height: 208px;
  border-radius: 12px;
  background-color: #292d3380;
  overflow: hidden;
  border: 1px solid #282c32 !important;
}
.product-img-height img {
  aspect-ratio: 2.98;
}

.pwa-support {
  width: 100%;
  max-width: 400px;
  height: auto !important;
  position: fixed !important;
  bottom: 20px;
  z-index: 99999 !important;
  background: #0f0a04;
  padding: 24px;
  border-radius: 20px 20px 0 20px;
  border: 1px solid #282c32;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pwa-support .pwa-heading {
  font-size: 20px;
  margin-bottom: 12px;
}
.pwa-support .pwa-text {
  margin-bottom: 16px;
  font-size: 0.875rem !important;
}

.pwa-install-button {
  background: #ff5a0e;
  color: #ffffff;
  border: 1px solid #ff5a0e;
  border-radius: 10px 10px 0 10px !important;
  padding: 0.563rem 1.563rem !important;
  font-size: 0.875rem !important;
}
.pwa-install-button:hover {
  color: #ff5a0e !important;
  background-color: #ffffff !important;
}

.pwa-cancel-button {
  background-color: #adb5bd !important;
  color: #414141;
  border-radius: 10px 10px 0 10px !important;
  padding: 0.563rem 1.563rem !important;
  border: none !important;
  font-size: 0.875rem !important;
}
.pwa-cancel-button:hover {
  background-color: #d1d5db !important;
  border: none !important;
  color: #414141 !important;
}

.youtube-link-14 {
  padding-top: 56.25%;
  position: relative;
}
.youtube-link-14 iframe {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.fs-24 {
  font-size: 24px;
}
@media (max-width: 576px) {
  .fs-24 {
    font-size: 20px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 576px) {
  .fs-20 {
    font-size: 18px;
  }
}

.btn-section {
  position: absolute;
  top: 50%;
  z-index: 9;
}
.btn-section .fixed-btn-section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
  cursor: move;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
}
.btn-section .fixed-btn-section .gym-bars-btn {
  background-color: #ff5a0e;
}
.btn-section .fixed-btn-section .sub-btn {
  left: -65px !important;
  right: auto !important;
  width: auto !important;
}
.btn-section .fixed-btn-section .sub-btn .gym-sub-btn {
  background-color: #234748;
}
.btn-section .fixed-btn-section .sub-btn .gym-sub-btn i {
  color: #ff5a0e;
}

.sub-btn-div {
  right: -40px !important;
}

.sticky-vcard-div {
  bottom: 60px !important;
  z-index: 9 !important;
}

.sub-btn-div-left {
  left: 150px !important;
}

.bars-btn {
  box-shadow: none !important;
  position: relative !important;
}

.row-gap-15px {
  row-gap: 15px;
}

.row-gap-40px {
  row-gap: 40px;
}

.right-arrow-animation {
  animation: right-arrow 1s linear 1s infinite alternate;
}

@keyframes right-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
.iframe-card iframe,
.insta-feed iframe {
  border: 1px solid #eebea7 !important;
  border-radius: 15px;
  overflow: hidden;
}

.iframe-card-box {
  border: 1px solid #282c32 !important;
  background-color: #292d3380;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 15px;
  border-radius: 15px 15px 0 15px;
}
.iframe-card-box .embed-responsive,
.iframe-card-box iframe {
  border: 1px solid #eebea7;
  border-radius: 10px;
  background-color: white;
}
.iframe-card-box .map-location {
  padding: 8px;
  border: 1px solid #f57f21;
  border-radius: 10px;
}
.iframe-card-box .map-location .location-icon {
  background-color: #facdad;
  border: 1px solid #eebea7;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}
.iframe-card-box .map-location .location-icon img {
  width: 18px;
}

.profile-desc p {
  margin-bottom: 0 !important;
}

.timePick {
  margin-top: 20px;
}

.vector-bg-1 {
  opacity: 0.1;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .px-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 575px) {
  .px-30 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product-page-card .product-desc h3,
.product-page-card .product-desc p {
  display: block !important;
}

.language-btn {
  z-index: 10 !important;
}

@media (max-width: 576px) {
  .vector-all img {
    width: 60% !important;
  }
}

.vector-1 {
  bottom: 0px;
  right: 3px;
  text-align: end;
}
.vector-1 img {
  transform: rotate(332deg);
}

.vector-3,
.vector-5,
.vector-7,
.vector-9,
.vector-11,
.vector-13 {
  top: 15px;
  right: 15px;
  text-align: end;
}
@media (max-width: 576px) {
  .vector-3,
.vector-5,
.vector-7,
.vector-9,
.vector-11,
.vector-13 {
    right: 10px;
    top: 10px;
  }
}

.vectro-2,
.vector-4,
.vector-6,
.vector-8,
.vector-10,
.vector-12,
.vector-14 {
  left: 15px;
  top: 15px;
}
@media (max-width: 576px) {
  .vectro-2,
.vector-4,
.vector-6,
.vector-8,
.vector-10,
.vector-12,
.vector-14 {
    left: 10px;
    top: 10px;
  }
}

.vector-main-1 {
  right: 0;
  top: 0;
}

.vector-15 {
  top: 2px;
  right: 20px;
  text-align: end;
}

.bg-vectors {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.3;
}

.linkedin-feed {
  max-height: 1000px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.linkedin-feed-iframe {
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.linkedin-feed-iframe iframe {
  width: calc(100% - 2px) !important;
  height: 500px !important;
  transform-origin: top left;
  transform: scale(1);
  border: 1px solid #eebea7 !important;
  overflow: hidden;
  border-radius: 15px !important;
}

.sound-toggle-btn {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 425px) {
  .sound-toggle-btn {
    bottom: 12px;
    right: 2px;
  }
}
@media (max-width: 375px) {
  .sound-toggle-btn {
    bottom: 5px;
    right: 2px;
  }
}
@media (max-width: 320px) {
  .sound-toggle-btn {
    bottom: 10px;
    right: 2px;
  }
}
.sound-toggle-btn i {
  font-size: 18px;
}
